[2019-04-22 06:46] harshilsharma63 opened #1 "Add Test Cases For Server Component"
There already exist tests for `server/standup` package, but other packages lack automated tests.

[2019-04-22 06:47] harshilsharma63 opened #2 "Add Test Cases For Webapp Component"
The webapp component has no automated test cases. Add tests there to improve software quality.

[2019-04-22 06:55] harshilsharma opened #3 "[PROPOSAL] Implement Permission System for Configuring Standups"
**Is your feature request related to a problem? Please describe.**
Any member of a standup channel can update channel standup config. This may not be desirable for some organizations.

**Describe the solution you'd like**
Enterprise Mattermost installations allow granting the user a role of `system admin` or `channel admin`. We can use this existing permission feature to only allow `channel admins

[2019-04-29 08:47] hanzei opened #9 "PROPOSAL - Use sub commands instead of multiple commands"
**Is your feature request related to a problem? Please describe.**
The list of slash commands gets long, when this plugin is enabled. It currently adds six slash commands. More may follow.

**Describe the solution you'd like**
I propose to move all commands under one commands called `/standup`. E.g. it would be `/standup config` instead of `/standupconfig`.

**Additional context**
Inspiration can

[2019-04-29 10:58] hanzei opened #10 "PROPOSAL - Use bot account instead of normal user"
**Is your feature request related to a problem? Please describe.**
Currently admins have to create a user account for this plugin to work. They also have to enable two setting. See https://github.com/standup-raven/standup-raven/blob/master/docs/installation.md#mattermost-configuration. Both put additional work on the admin.

**Describe the solution you'd like**
This can be reduced by the plugin au

[2019-04-29 11:09] hanzei opened #11 "BUG - JS errors in console"
**Summary**
A one-line description of what the bug is.

**Steps To Reproduce**
Steps to reproduce the behavior:
1. Install the plugin
2. Go into a channel that has a standup configured

**Expected behavior**
No errors

**Observed Behavior**
Errors in JS console:
<details>
  <summary>Errors:</summary>

[code]

</details>

**Screenshots**
If applicable, add screenshots to help explain your problem.

[2019-04-29 14:31] tgly307 opened #12 "BUG - user profile image missing"
**Summary**
user profile image missing in channel.
![image](https://user-images.githubusercontent.com/25153311/56902585-2e59fc80-6acd-11e9-9600-bd48fb28a4a8.png)
(my bot name is github)

**Steps To Reproduce**
Steps to reproduce the behavior:
1. install plugin
2. set plugin config ( bot name, time zone)
3. use /standupconfig and /standupaddmembers to activate plugin and add myself to group
4. When

[2019-04-29 14:38] harshilsharma commented on #12
@tgly307 thank you for reporting the bug!

Which Mattermost version are you using?

Also, can you try with `Image Proxy` disabled if it's enabled? You can find the settings under `System Console` > `Files` > `Storage` > `Enable Image Proxy`.

[2019-04-29 15:13] tgly307 commented on #12
Oh, thanks a lot! My image proxy is enabled, I turn it down and it works. I will close this.

[2019-04-29 15:13] #12 closed

[2019-04-29 15:26] tgly307 opened #13 "BUG - mattermost crash when modify sections after user add tasks"
**Summary**
when user modify the sections use /standupconfig after someone add tasks, the mattermost will crash when click raven button on channel top.

**Steps To Reproduce**
Steps to reproduce the behavior:
1. install plugin and set the config use /standupconfig ,for example set sections "yesterday" and "today"
2. add member use /standupaddmembers , for example add userA to group
3. userA add ta

[2019-04-29 17:12] tgly307 opened #14 "BUG - unknown time zone"
**Summary**
I set the time zone Asia/Shanghai in plugin, and the log throw error "config unknown time zone"

`{"level":"error","ts":1556557748.1725073,"caller":"mlog/sugar.go:23","msg":"unknown time zone Asia/Shanghai","plugin_id":"standup-raven"}`

I also tried some other time zone, all failed without UTC.

**Steps To Reproduce**
Steps to reproduce the behavior:
1. install plugin
2. modify the pl

[2019-04-30 02:10] tgly307 commented on #14
I found a temporary solution, I added a line in time zone of settings_schema in plugin.json to set the time zone.
 `{"display_name": "Local", "value": "Local"},`
I guess this problem may be caused by a dependency package.

[2019-04-30 03:18] harshilsharma commented on #14
@tgly307 big thanks for the bug report!

I did a quick try but I'm not getting this error. Will try it out again with a clean setup.

[2019-04-30 03:18] harshilsharma commented on #14
BTW which version of Mattermost are you using?

[2019-04-30 03:23] harshilsharma commented on #13
@tgly307 huge thanks for reporting the bug!

Wondering if you'd be open to help with a fix for it?

[2019-04-30 03:27] harshilsharma commented on #11
@hanzei thanks for the bug report!

I was it's due to an unhandled case of `undefined` in the selectors. Will get the fix up after some testing.

[2019-04-30 04:01] tgly307 commented on #13
I am very happy to help, but I am very strange to golang and have never done related development.

[2019-04-30 04:07] tgly307 commented on #14
My mattermost version is 5.10.0, run by [docker-compose](https://github.com/mattermost/mattermost-docker). I build the image by myself and run `docker-compose up`, maybe the issue is related with the build part? My OS is centOS7 64bit.

[2019-05-01 00:21] harshilsharma commented on #11
@hanzei this has been fixed in https://github.com/standup-raven/standup-raven/pull/15 and is on master.

[2019-05-01 00:22] #11 closed

[2019-05-02 06:53] hubpav commented on #14
I have the same issue - `Europe/Prague` is reported as unknown time zone. Mattermost version `5.9.0` through Docker Compose deployment.

[2019-05-02 14:22] harshilsharma commented on #14
@tgly307 @hubpav can you try running this code from StackOverflow answer - https://stackoverflow.com/a/40130882/1589165

Inserting code here for quick reference -

[code]

This will generate a list of timezone strings available for your system. I suspect this is something system-specific.

It would be helpful if you could tell which OS are you on.

[2019-05-02 14:39] harshilsharma commented on #13
@tgly307 ah, no issue there! We'll look into it.

[2019-05-02 16:31] tgly307 commented on #14
@harshilsharma I guess the problem is on the alpine image, because the image is based on the alpine image. It is estimated that the time zone setting here is different from that of centOS. I enable the official experimental feature `ExperimentalTimezone`, then I chose automatic in user profile setting, the time zone is displayed as `Shanghai` instead of `Asia/Shanghai`

[2019-05-03 00:20] harshilsharma commented on #14
@tgly307 good point! I didn't realize that. I compiled the timezone list on MacOS but they run fine for me, even though I'm also running local Mattermost via docker-compose.

[2019-05-03 00:22] harshilsharma commented on #14
Let me correct that, I'm not running Mattermost via docker, but directly via the `make run` command from the source code. I'll test with MM docker as well.

[2019-05-03 00:58] harshilsharma commented on #14
I'm able to reproduce error on docker-compose version of Mattermost.

[2019-05-03 01:08] harshilsharma commented on #14
I'm able to reproduce it on docker version of Mattermost. We have a copy of this plugin running on Ubuntu and the timezones work fine with it. Like you mentioned, it seems to be an issue with Alpine managing timezones.

[2019-05-03 01:09] harshilsharma commented on #14
@tgly307  @hubpav would it be possible for you to install the compiled version of Mattermost to try with?

[2019-05-05 16:12] tgly307 commented on #14
What is compiled version? The docker image is built with the package after compiled. Do you mean this?

[2019-05-05 18:59] scottleedavis commented on #14
PR just merged in mattermost-docker likely solved this problem.

[2019-05-06 01:34] tgly307 commented on #14
@harshilsharma hi, by PR of @scottleedavis ,the problem is solved, the time zone can be set to other one. The issue can be close if you want. Thanks for the work.

[2019-05-07 06:13] hubpav commented on #14
👍

[2019-05-07 06:20] hubpav opened #16 "PROPOSAL - Open standup window"
We are implementing standup bot for the whole company - however, many people complain they cannot fill up their standup tasks in the evening (we do regular reports at 9 am). Raven Bot does not allow to set the starting window earlier than the closing window (so there could be like 9 pm till 9 am time frame).

It would be nice to:

1. Allow wide time frames from the previous day
2. Allow the possib

[2019-05-07 22:06] Routhinator commented on #13
This happens in the client and Firefox (for linux).

Relevant JS console output from Firefox:

![Screenshot from 2019-05-07 15-01-00](https://user-images.githubusercontent.com/727535/57336119-b8135680-70d9-11e9-965b-b80d1c595b33.png)

[2019-05-07 22:11] Routhinator commented on #13
This may have a trigger: someone edited the questions after standups were submitted by the affected users. Not all users are seeing the issue.

[2019-05-08 01:40] harshilsharma commented on #13
@Routhinator you're correct! It happens when one of the section from current standup config doesn't exist n your standup, probably when someone changes the config. Will be pushing a fix soon.

[2019-05-08 18:01] skyscooby opened #18 "PROPOSAL - Add slash commands for submitting standup information."
**Is your feature request related to a problem? Please describe.**
I'm frustrated that I have to use the UI to submit my stand up but I can configure the tool with slash commands.. I'd like to have both an interactive and a non interactive way to submit the standup using slash commands.

**Describe the solution you'd like**
/standupsubmit_gui - Opens the current modal dialog without needing to cli

[2019-05-09 19:16] skyscooby opened #19 "BUG - Bot allows same user to be added multiple times."
**Summary**
It is possible to successfully add User X twice to a standup configuration.. their answers are duplicated in the report.

**Steps To Reproduce**
Self explanatory.

**Expected behavior**
The bot should ignore requests to add the same user if already a member of the report.

**Observed Behavior**
User is listed multiple times in the /standupviewconfig

Members: userx, userx, usery, usery

[2019-05-10 05:52] hubpav opened #20 "PROPOSAL - Option to disable reminders"
Today, Raven bot has 2 reminders:

1. Message `Please start filling your standup!`
2. Message `... - a gentle reminder to fill your standup.`

It would be nice to add the configuration option to switch them off. It should be doable on a per-channel basis.

[2019-05-11 05:09] #13 closed

[2019-05-11 05:10] harshilsharma commented on #13
This issue is fixed in #17 and will be available in the next release.

[2019-05-11 05:13] harshilsharma commented on #14
@scottleedavis thanks for the docker fix!

Referring the PR here for reference - https://github.com/mattermost/mattermost-docker/pull/390

[2019-05-11 05:13] #14 closed

[2019-05-11 05:16] harshilsharma commented on #20
HI @hubpav!

Any specific reason for disabling the reminders? I'm trying to understand the scenario.

Thanks!

[2019-05-11 05:22] harshilsharma commented on #19
Hi @skyscooby! I'm able to reproduce the bug locally.

Would you be willing to help fix the issue?

[2019-05-11 05:51] harshilsharma commented on #18
Thanks for the suggestion and feedback @skyscooby !

I think I understand the problem taking your hands away from the keyboard just for clicking that button. Keyboard shortcuts rock 🤘.

Opening standup UI via a slash command is an interesting idea and this could speed things up.

We have also been thinking of many more ways of making filling standup a quick process. Things like automatically focus

[2019-05-11 08:06] harshilsharma commented on #16
Thanks for the proposal @hubpav .

The way we manage reports and standups right now doesn't allow for a single standup window to span more than one day.

I suppose if we allowed submitting standup for the next day, folks could submit the standup in the evening and the reports include them the next day. Would this fit your scenario?

[2019-05-11 08:10] harshilsharma commented on #10
@hanzei thanks for the suggestion!

Agreed, it will minimize two steps from setup.

[2019-05-11 09:34] harshilsharma commented on #9
@hanzei thanks for the suggestion!

The general issue I see with a single command is with quick accessibility of its syntax. One would have to run `/standup help` for example to fetch a command's syntax.

With multiple commands and if they all have a common prefix (`/standup` in this case), one can type `/standup` and have the list populated with their syntaxes right there -

![](https://i.imgur.c

[2019-05-11 16:25] hubpav commented on #9
@harshilsharma I would also prefer single command much more - I understand your point, but this is quite an aggressive strategy and if every plugin worked liked that, the list would be quite messy soon.

As other issue mentioned, it would be super-handy to have the ability to fill out the standup report using the slash command.

It is probably beyond the scope of the original issue raised here, bu

[2019-05-11 16:31] hubpav commented on #20
Hi @harshilsharma

Actually, one of the reasons the teams implement standup bots is to eliminate noise on the channels through aggregated reports. On the other hand, we want to have standup report time as wide as possible (let's say from 9 pm till 9 am) and having `Please start filling your standup!` 12 hours prior to standup is not desired.

Hereby I would prefer a possibility to configure standu

[2019-05-11 16:34] hubpav commented on #18
I am sorry for heavy cross-referencing this on multiple places, but I have sketched some idea for the slash command design here: https://github.com/standup-raven/standup-raven/issues/9#issuecomment-491524921

The submit enhancement through the command discussed here is incorporated, of course :)

Thank you.

[2019-05-11 16:40] hubpav commented on #16
@harshilsharma I believe you got it right. The point is to allow standup submission in the evening. I have not checked the implementation and what are the options. We don't need the standup window to span multiple days, just the flexibility to go ahead right after the prior standup finished (intentionally I am providing an extreme use-case).

Does this sound feasible to you? Thanks!

[2019-05-12 03:55] harshilsharma opened #21 "Add docs for enabling Sentry"
The plugin allows devs to plug in their own Sentry account for error monitoring by themselves. This is currently not documented.

Add documentation for enabling and configuring custom Sentry in the plugin.

[2019-05-12 14:58] harshilsharma commented on #20
@hubpav  Agreed that some teams may or may not want some notifications. This also seems easy to implement. Would you be willing to contribute by implementing this?

[2019-05-12 15:03] harshilsharma commented on #9
@hubpav thanks for the slash command proposals! Pretty detailed work there.

We understand the issue with the possibility of growing slash command list in the system. We're exploring other plugins including GitHub plugin, as @hanzei suggested, on their UX regarding this.

[2019-05-12 15:14] harshilsharma commented on #16
@hubpav I understand the general feature here - ability to fill future standups. We want to explore if others would be interested in the feature as well. I'll be checking on that and if the community likes it, I don't see a problem with that!

[2019-05-13 04:55] hubpav commented on #9
@harshilsharma Great, thank you! I am already looking forward to seeing the outcome :)

[2019-05-13 04:57] hubpav commented on #20
@harshilsharma I am not a Go developer and thus the work on this would be very inefficient. However, I can offer comprehensive testing and provide feedback from the real deployment.

[2019-05-13 14:42] harshilsharma commented on #20
@hubpav no worries. We'll keep this issue updated with designs once we start on this.

[2019-05-15 07:20] uhlhosting opened #23 "BUG - Unable to start plugin"
**Summary**
This plugin failed to start. Check your system logs for errors:

[code]

**Steps To Reproduce**
Steps to reproduce the behavior:
1. Go to 'System Console'
2. Click on 'Plugins > Upload the plugin'
3. Scroll down to 'plugin, and enable it'
4. See error

**Expected behavior**
What you expected to happen.
Install plugin
**Observed Behavior**
What actually happened.
Error occurred
**Screen

[2019-05-15 08:16] hanzei commented on #23
Would you please set a BotUser name in the config settings and try again?

[2019-05-15 13:41] harshilsharma commented on #23
@uhlhosting the error cause is actually present in the attached logs -

[code]

[2019-05-15 13:45] harshilsharma commented on #23
@hanzei I think @uhlhosting didn't set the username is because the config link is not visible with the plugin. This was a but in Mattermost which was fixed in v5.11.

@uhlhosting after uploading the plugin, give the page a refresh and the config link will appear right along with `Disable` and `Remove`. You can also click on `Standup Raven` section in the left bar, right under `Plugins (Beta)`.

Pe

[2019-05-15 13:46] harshilsharma commented on #23
Let me know if that fixes the issue.

[2019-05-18 16:43] dangtu1795 commented on #23
I'm runing version 5.11 run by docker-compose on ubuntu 16.04 .Here is the error I encountered:

{"level":"error","ts":1558197389.5647445,"caller":"mlog/log.go:172","msg":"Unable to activate plugin","plugin_id":"standup-raven","error":"unable to start plugin: standup-raven: fork/exec /mattermost/plugins/standup-raven/server/plugin.exe: exec format error","errorVerbose":"fork/exec /mattermost/plugi

[2019-05-18 16:47] dangtu1795 commented on #23
@harshilsharma please help me.
Additional information:

- go version go1.12.2 linux/amd64

[2019-05-19 00:10] poVoq commented on #23
Yes, I am also encountering this issue with the official 5.11 team edition docker image

[2019-05-20 04:47] harshilsharma opened #27 "BUG - exec format error"
Filing a bug on behalf of @dangtu1795

I'm runing version 5.11 run by docker-compose on ubuntu 16.04 .Here is the error I encountered:

{"level":"error","ts":1558197389.5647445,"caller":"mlog/log.go:172","msg":"Unable to activate plugin","plugin_id":"standup-raven","error":"unable to start plugin: standup-raven: fork/exec /mattermost/plugins/standup-raven/server/plugin.exe: exec format error","err

[2019-05-20 04:49] harshilsharma commented on #23
@dangtu1795 since your error is different from what is being discussed in this thread, you should file a new issue so that multiple discussions don't get cross-referred.

I've filed it for you this time - #27

Please continue the discussion over there.

Thanks!

[2019-05-20 04:57] harshilsharma commented on #27
Hi @dangtu1795! Thanks for reporting the bug.

This error is caused when you upload the wrong plugin binary that doesn't correspond with the OS of you Mattermost instance. Please upload the correct binary corresponding to the OS version you are running Mattermost on. Notice that in case of `mattermost-docker`, Mattermost always runs in a Linux environment irrespective of your OS, as it's running i

[2019-05-20 04:58] harshilsharma commented on #23
@poVoq please refer #27.

[2019-05-20 04:58] harshilsharma commented on #23
@uhlhosting is your issue resolved now?

[2019-05-20 05:07] dangtu1795 commented on #27
@harshilsharma thanks you so much. i downloaded "mattermost-plugin-standup-raven-v1.2.0-linux-amd64.tar.gz
8.98 MB" then it worked really well.

[2019-05-20 09:17] poVoq opened #28 "BUG - timezone issue prevents plugin to start"
**Summary**
I can't start the plugin on Mattermost team edition Docker and the error log is about a time zone issue. I tried various time zone settings.

**suspected reason**
Contrary to the Mattermost Docker install instructions I am not bridging the timezone file, as my Docker volume is in a seperate network with no access to the host system / "bridge" network.
Alternatively it could be due to r

[2019-05-20 09:19] poVoq commented on #23
Seems like my issue was unrelated:

https://github.com/standup-raven/standup-raven/issues/28

[2019-05-20 14:21] harshilsharma commented on #28
@poVoq Thanks for reporting the bug!

This seems to be a duplicate of #14 and is actually a bug in Mattermost docker itself, due to lack of tz data. The fix of this is released with Mattermost-Docker version 5.11.

I'd suggest updating Mattermost-Docker to the latest version. If that's not possible, maybe you can apply the patch (https://github.com/mattermost/mattermost-docker/pull/390) to your cu

[2019-05-20 14:22] harshilsharma commented on #28
Let me know if that fixes your issue.

[2019-05-20 14:24] harshilsharma commented on #27
@dangtu1795 glad to hear that!

Thank you for using Standup Raven. Please let us know if you have any feedback, suggestion or even better if you want to get involved as a contributor!

[2019-05-20 14:24] #27 closed

[2019-05-20 14:52] poVoq commented on #28
I am already on 5.11 but updated from 5.10. The issue persists. Anything I might have overlooked when updating?

[2019-05-20 14:57] harshilsharma63 commented on #28
I haven't used Mattermost-Docker much, but I'll try running the plugin in it to see if I get the error.

What's your host OS BTW? Can you try running this Go code in your base OS to see which timezones does it have - https://github.com/standup-raven/standup-raven/issues/14#issuecomment-488692888 ?

[2019-05-20 14:57] harshilsharma commented on #28
I haven't used Mattermost-Docker much, but I'll try running the plugin in it to see if I get the error.

What's your host OS BTW? Can you try running this Go code in your base OS to see which timezones does it have - https://github.com/standup-raven/standup-raven/issues/14#issuecomment-488692888 ?

[2019-05-20 15:00] #19 closed

[2019-05-20 23:39] harshilsharma commented on #23
Closing this one now. @uhlhosting feel free to re-open this or post a comment here if this doesn't work.

Thanks!

[2019-05-20 23:39] #23 closed

[2019-05-21 00:27] poVoq commented on #28
My host OS is Ubuntu18.04 but I really only use it as a Docker host and do not have Go etc installed.

I checked all the issues and also the new Mattermost 5.11 Docker deployment guide, but I can't figure out what I did substantially different.

Maybe I'll do a clean installation again will all new volumes / database etc. to see if that helps.

[2019-05-21 15:35] skame commented on #28
I met the 'unknown timezone' problem before https://github.com/mattermost/mattermost-docker/pull/390 merged, mattermost/mattermost-prod-app:5.10.0.

After the patch merged :latest and mattermost/mattermost-prod-app:5.11.0 I have no problem in timezone Asia/Tokyo.

[2019-05-23 00:01] harshilsharma opened #30 "Migrate plugin from XMLHttpRequest"
Snippet from Mattermost logs -

[code]

Follow the implementation from here - https://github.com/mattermost/mattermost-server/pull/9192 and implement CSRF tokens for plugin requests.

[2019-05-23 18:30] attzonko opened #31 "PROPOSAL - Make the Timezone be channel specific"
**Is your feature request related to a problem? Please describe.**
Today our instance of Mattermost is used across many different timezones. Having the stand up raven only have a single global timezone does not work well for all our different teams.

**Describe the solution you'd like**
It would be great if we can configure the timezone per channel, so the standup window would be channel/timezone

[2019-05-23 18:35] attzonko opened #32 "BUG - Themes not considered by standup raven"
**Summary**
When a user has selected dark theme fr Mattermost, some of the standup raven text become unreadable.

**Steps To Reproduce**
Steps to reproduce the behavior:
1. Change your mattermost display theme to one of the default dark ones.
2. run `/standupconfig`
4. See drop down text, or rather 'can't see'

**Expected behavior**
Easily see the text in the drop downs

**Observed Behavior**
Text

[2019-05-24 04:01] harshilsharma commented on #32
@attzonko thanks for the bug report!

Does it only happen in the desktop app? It looks perfect for me on Mozilla Firefox on MacOS
![](https://i.imgur.com/0rtYXkN.png)

I'll try on other environments as well.

[2019-05-24 04:04] harshilsharma commented on #31
@attzonko that's a great idea! Would you be willing to contribute on this one?

[2019-05-24 19:56] attzonko commented on #32
No I just tried it in Chrome as well as Internet Explorer. Same result in both, not sure what setting is different because I agree yours looks fine 😃

![image](https://user-images.githubusercontent.com/4975715/58353397-3fbfcb80-7e23-11e9-876c-43f414f02064.png)

[2019-05-24 19:57] attzonko commented on #31
Sounds like fun, I'll need to dive into Go, will keep you posted...

[2019-05-25 02:47] harshilsharma63 commented on #31
@attzonko great!

[2019-05-25 02:48] harshilsharma63 commented on #32
@attzonko what version of Mattermost are you on?

[2019-05-25 02:56] attzonko commented on #32
I am on 5.11

[2019-05-25 03:30] harshilsharma opened #33 "BUG - make build causing `/` to be copied into archive"
**Summary**
The regex in Makefile is not working on older versions of grep (2.5.1) and causes all contents of root (`/`) to be copied into the archive.

**Steps To Reproduce**
Steps to reproduce the behavior:
1. run `make dist` on a system with grep 2.5.

**Expected behavior**
Regex used in Makefile with grep should work with older versions of grep as well as that's still being used on many system

[2019-05-25 03:31] harshilsharma commented on #33
Corresponding Mattermost issue - https://mattermost.atlassian.net/browse/MM-15601

[2019-05-25 06:44] harshilsharma opened #34 "Use changelog generation tool"
Using a changelog generation tool will -
1. eliminate one mundane task.
1. make changelogs consistent and neat.
1. actually make having a changelog in the first place.

Requirements to be satisfied -
1. Enforce good issue practices - using and updating correct labels.
1. Can be incorporated as a CI task.
1. Ideally, should run on JavaScript or Golang to prevent extra system dependencies, but not a

[2019-05-25 09:53] #30 closed

[2019-05-25 13:38] harshilsharma commented on #33
Fixed in #36.

[2019-05-25 13:38] #33 closed

[2019-05-25 14:39] hanzei commented on #34
What about https://github.com/goreleaser/goreleaser?

[2019-05-26 01:27] harshilsharma commented on #34
@hanzei thanks for the suggestion!

goreleaser seems like a full release and publication tool but we already use [ghr](https://github.com/tcnksm/ghr) for that from CircleCI.

What I'm looking for is something that can generate just the changelog based on commits, issue, and milestone. This way we can continue using the existing tooling and insert the generated changelog into the GitHub release.

[2019-05-26 04:53] hanzei commented on #34
Goreleaser _can_ publish releases, but you don't have to. It allows you to generate changelogs locally and copy them to GH. I use it for Matterpoll and it works just fine.

[2019-05-26 05:52] harshilsharma commented on #34
Well, I'm really liking what GitHub Desktop has done with their changelogs over at https://desktop.github.com/release-notes/ . I'm trying to run their changelog script as an independent codebase.

[2019-05-26 15:06] harshilsharma opened #37 "Update getting_started.md"
Placeholder issue for #22.

[2019-05-26 23:39] #37 closed

[2019-05-28 17:11] poVoq commented on #28
Maybe this is a MySQL issue? I completely reinstalled with a fresh database and new docker volumes from the official 5.11 Docker image and I am still not able to start this plugin.

[2019-05-29 07:51] tomepejo opened #38 "PROPOSAL - Generate a report on window end without waiting for everyone to submit standup information"
**Is your feature request related to a problem? Please describe.**
When some of our co-workers is on a vacation, the report is waiting for them to submit standup info too. Then the report is not automatically generated which means someone else should trigger the report action manually.

**Describe the solution you'd like**
Set a flag (boolean) "Wait for everyone to participate" true/false, so the

[2019-05-29 14:17] harshilsharma commented on #38
Hi @tomepejo! Thanks for the proposal.

When the window close time approaches, a report is sent containing standup of all members who had submitted their standups. This report also contains the names of members who didn't submit their standups.

Only in the scenario that no one has filled their standup, is a standup report not sent.

Are you experiencing something out of this?

[2019-05-30 12:09] sandipagarwal commented on #38
@tomepejo - I have been using it. And, I see the report coming in at the end of the window. You can confirm if it's not working for you.
I do like the concept of the boolean flag there. I see pitfall here. This flag needs to be switched each time someone is on vacation or not, in the case we want the bot to wait for all the people to submit the standups. Moreover, this flag would most (more) of ti

[2019-05-30 12:19] sandipagarwal opened #39 "BUG - Adding a user more than once, shows them that many times."
**Summary**
If a user is added more than once in the standup config, s/he is shown that many times.

**Steps To Reproduce**
Steps to reproduce the behavior:
1. Run `/standupaddmembers @sandip.agarwal`
2. Run the above again
3. Run `/standupviewconfig `
4. See the output to have more than one entry of the above user.

**Expected behavior**
Each user should have only one entry.

**Observed Behavior*

[2019-05-30 14:25] harshilsharma commented on #39
HI @sandipagarwal! Thanks for the bug report.

This seems to be a duplicate of #19 , which has been fixed in the latest [v1.3.0](https://github.com/standup-raven/standup-raven/releases/tag/v1.3.0) release. Can you try updating the installed version of the plugin?

[2019-05-31 06:28] sandipagarwal commented on #39
@harshilsharma - Thanks for the fix. I updated the plugin and it works. Two observations:
1. Adding a user multiple times works correctly now.
2. The old data still stays as it is. We have to add the repeated user(s) again for cleaning.

[2019-05-31 06:34] sandipagarwal opened #40 "PROPOSAL - Have the `@` in the standup report for people who have not submitted."
**Is your feature request related to a problem? Please describe.**
In the standup report, the people who have not submitted the standups should have the `@` against their usernames/handles.

[2019-05-31 09:23] #38 closed

[2019-05-31 09:25] tomepejo commented on #38
@harshilsharma, @sandipagarwal you were right. The report was generated even though not all users participated.

Probably we thought that it is an issue because of the window config in hours. There is an offset of 3 hours of the config and the actual time. But this is probably an issue in our server (setup), so will check with our DevOps.

Thank you.

[2019-06-03 23:46] harshilsharma commented on #39
@sandipagarwal thanks for the confirmation. Closing the issue now.

[2019-06-03 23:46] #39 closed

[2019-06-04 15:19] harshilsharma commented on #34
Really impressed with the looks and the minimalism of GitHub Desktop release notes, I created [what-the-commit](https://github.com/standup-raven/what-the-changelog), by extracting the changelog code from GitHub Desktop repository.

[2019-06-04 15:19] #34 closed

[2019-06-04 15:28] harshilsharma commented on #40
Thanks, @sandipagarwal for the suggestion!

This makes sense as it will act as a further reminder for members who haven't submitted their standups even at the time of report generation.

[2019-06-04 23:50] harshilsharma commented on #40
This has been merged into master. INcluding this in v1.3 milestone.

[2019-06-04 23:50] #40 closed

[2019-06-04 23:54] harshilsharma commented on #31
@attzonko hi, just checking in if you've made any progress on this or if you need some help.

[2019-06-05 00:35] harshilsharma commented on #32
@attzonko I tested this again today and the bug is re-occurring for me now. I'm investigating into it.

[2019-06-05 01:07] harshilsharma commented on #32
It appears that the text color is not depending on Mattermost theme ans is always `#333333`. I've filed a bug report in Mattermost for the same. You can view the bug report over at https://github.com/mattermost/mattermost-server/issues/11059 .

[2019-06-07 13:41] chetanyakan opened #44 "BUG -"
**Summary**
A one-line description of what the bug is.

**Steps To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
What you expected to happen.

**Observed Behavior**
What actually happened.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Environment**
-  Mattermost version:

[2019-06-07 13:43] #44 closed

[2019-06-07 22:52] attzonko commented on #31
I have started the process of learning golang :)

If you have any pointers on setting up the dev environment for developing and testing plugins please share.

Thanks!
Alex

On Jun 4, 2019, at 4:54 PM, Harshil Sharma <notifications@github.com> wrote:

@attzonko hi, just checking in if you've made any progress on this or if you need some help.

—
You are receiving this because you were mentioned.
Re

[2019-06-10 04:14] harshilsharma63 commented on #31
@attzonko The quickest way to setup Mattermost locally is via docker, following the instructions over [here](https://github.com/mattermost/mattermost-docker). Standup Raven setup instructions are available over [here ](https://github.com/standup-raven/standup-raven/blob/master/docs/getting_started.md).

[2019-06-10 04:14] harshilsharma63 commented on #31
Let me know if you need any assistance with the issue. I'll be more than glad to assist!

[2019-06-10 04:17] harshilsharma63 opened #45 "Fix project parent dir name in in getting started documentation"
The project parent dir name at [getting started docs](https://github.com/standup-raven/standup-raven/blob/master/docs/getting_started.md) is written as `JoshLabs`. This should be updated to be `standup-raven`.

[2019-06-10 13:01] sonam-singh opened #46 "PROPOSAL - Send standup report even if no one has submitted the standup"
In case, none of the added members has submitted standup, no report is generated. We should at least send a piece of information that no one has submitted the standup.

[2019-06-10 13:07] sonam-singh opened #47 "PROPOSAL - Standup config custom section should not have 'Task for' prepended."
Different projects can have different sections like in case we mentioned 'blockers' as well in standups. it would look like - `Tasks for blockers`. We should let the whole section name to be custom.

[2019-06-11 23:46] harshilsharma63 opened #48 "Bump js-yaml from 3.12.1 to 3.13.1 in /webapp"
Bumps [js-yaml](https://github.com/nodeca/js-yaml) from 3.12.1 to 3.13.1.
<details>
<summary>Changelog</summary>

*Sourced from [js-yaml's changelog](https://github.com/nodeca/js-yaml/blob/master/CHANGELOG.md).*

</details>
<details>
<summary>Commits</summary>

[2019-06-11 23:49] #48 closed

[2019-06-12 01:02] harshilsharma63 commented on #32
﻿A pull request for fixing this has been created in Mattermost Webapp - https://github.com/mattermost/mattermost-webapp/pull/2950

[2019-06-12 01:12] harshilsharma63 opened #49 "Automatically Generate sentry.properties from build_properties.json"
**Is your feature request related to a problem? Please describe.**
Currently one needs to update both `build_properties.json` and `webapp/sentry.properties` (from Sentry CLI) for configuring Sentry. This is not the smoothest experience.

**Describe the solution you'd like**
`webapp/sentry.properties` can be automatically generated from `build_properties.json`.

**Describe alternatives you've consi

[2019-06-12 14:26] #49 closed

[2019-06-12 14:37] #45 closed

[2019-06-13 00:31] harshilsharma63 opened #52 "Migratea from raven-go to sentry-go Sentry client"
With reference to https://github.com/getsentry/raven-go/issues/246 , `sentry-go` is the new official Sentry Go client. We should migrate to using it.,

This also removes the requirement of using private DSN.

[2019-06-13 00:38] harshilsharma63 commented on #52
The client is currently in beta. Waiting for first stable release.

[2019-06-13 01:06] harshilsharma63 opened #53 "Use Public Sentry DSN on webapp part of plugin"
Since webapp component of the plugin is exposed to end users, it should use the public DSN instead of the private DSN. Server component will continue using the private DSN.

[2019-06-14 05:36] Nisarg10 opened #55 "BUG - Bot Profile Images are not loading"
**Summary**
When automatic reminder messages, reports get posted profile images of the bot is not getting loaded.

**Expected behavior**
Profile images should load.

**Observed Behavior**
Profile images not loading.

**Screenshots**
![image](https://user-images.githubusercontent.com/14795254/59485544-d7995e00-8e93-11e9-91b2-48156f9ebfdf.png)
![image](https://user-images.githubusercontent.com/14795

[2019-06-14 13:38] harshilsharma63 commented on #55
@Nisarg10 this is a but with Mattermost v5.10 as discussed in #12.

You'll need to disable image proxy under `System Console` > `Files` > `Storage` > `Enable Image Proxy`.

[2019-06-14 13:39] harshilsharma63 commented on #55
Let me know if you still face the issue.

[2019-06-14 18:01] Nisarg10 commented on #55
@harshilsharma63 Thank you. Disabling image proxy worked.

[2019-06-14 18:01] #55 closed

[2019-06-15 05:18] #53 closed

[2019-06-16 13:54] #21 closed

[2019-06-18 10:32] #46 closed

[2019-06-20 05:27] harshilsharma63 commented on #52
`sentry-go` stable release is now available.

[2019-06-21 06:21] #10 closed

[2019-06-21 06:21] harshilsharma63 commented on #32
The Mattermost fix will be released in v5.14, scheduled to release in August 2019.

[2019-06-21 06:29] jatinjtg opened #59 "BUG - Some of the test cases are time dependent and fails at particular time."
**Summary**
Some of the test cases are having some time dependency and fails in particular time interval.

**Steps To Reproduce**
Steps to reproduce the behavior:
1. Set you system time to 22:00.
2. Now run the test cases some of them will fail.

**Environment**
-  Mattermost version: 5.12
-  OS:Linux (Ubuntu 16.04)

[2019-06-21 07:21] jatinjtg opened #60 "BUG - In channel header their is some problem in display image of raven ."
**Summary**
In case of chrome no image is shown and in case of firefox the postion of image is slightly shifted upwards.

**Screenshots**
![Screenshot from 2019-06-21 12-50-23](https://user-images.githubusercontent.com/50952137/59905222-2bbbb980-9423-11e9-80c9-678e776ae7c9.png)
![Screenshot from 2019-06-21 12-39-10](https://user-images.githubusercontent.com/50952137/59905224-2bbbb980-9423-11e9-9ef

[2019-06-24 06:10] #60 closed

[2019-06-25 03:49] Michelleji opened #64 "Cannot save standup config"
Hi
After I enabled the standup-raven plugin in our Mattermost, I tried to run the /standupconfig in a new channel I just created but failed. I got an error "An error occurred while saving standup config. Unauthorized". I have no idea about this issue, can anyone help take a look?

Mattermost: 5.12.0
Standup-varen: 1.3.0

[2019-06-25 14:17] skyscooby opened #65 "BUG - Installation of 1.4.0 breaks on latest GitLab Mattermost rollback fails."
**Summary**

While not technically a coding bug, a vast slice of Mattermost users are using MM via the version included with the GitLab Omnibus package. Gitlab 12.0 was just released (always on the 22nd of the month) with Mattermost 5.11 included.. but v 1.4.0 of standup-raven requires 5.12.  Thus many users upgrading today will get an error that the plugin requires 5.12.

You can see the version

[2019-06-26 03:16] tgly307 commented on #64
Same issue with 1.4.0 and MM5.12

[2019-06-26 04:20] harshilsharma63 commented on #64
@Michelleji Standup Raven 1.3 is incompatible with Mattermost 5.12. You need Standup Raven 1.4 for that.

[2019-06-26 04:21] harshilsharma63 commented on #64
@tgly307 as for the issue you mentioned, I debugged it down to Mattermost not setting the `MMCSRF` cookie. I suppose you upgraded from 5.11 to 5.12 while your session was still active. If that's correct, try logging out and logging back in. Our organization was facing the same issue and this did the trick.

I've also filed a bug in Mattermost about the same - https://github.com/mattermost/mattermo

[2019-06-26 04:43] tgly307 commented on #64
@harshilsharma63 yes, your suggestion is correct, it about seesion issue. I logged out and in, it works well.

[2019-06-26 05:06] Michelleji commented on #64
I installed 1.4 and logged out and in, I still have this problem when I was using MM client in MacPro. MM webpage works well.

[2019-06-26 06:01] harshilsharma63 commented on #64
@Michelleji Hmm, that's strange. I tried on Mattermost desktop app Macbook Pro as well and it worked fine. Maybe you can try `View` > `Clear Cache and Reload`?

[2019-06-26 06:06] Michelleji commented on #64
@harshilsharma63 I can use it in mattermost App now, thx for your help :)

[2019-06-26 07:31] harshilsharma63 commented on #64
@Michelleji @tgly307 glad to help!

[2019-06-26 07:32] harshilsharma63 commented on #64
@Michelleji @tgly307 we're gathering consent of organizations who use Standup Raven, to include their names in our marketing website. Would you folks be open to include your organization's entry as well - https://forms.gle/RCWFwgoNs2uoYHYHA ?

Thanks a ton!

[2019-06-26 14:43] #64 closed

[2019-06-26 14:51] harshilsharma63 commented on #65
@skyscooby thanks for the suggestions and the report. There are multiple things here -

I completely agree that we should be testing on not only the latest Mattermost but also older, supported versions. I'll need to dig a bit more into Gitlab Omnibus versions. I'm currently not aware about them

I couldn't agree more. Release notes should clearly indicate not only the minimum required Mattermost v

[2019-06-26 15:22] goku321 commented on #47
Can I take this one up?

[2019-06-26 19:12] skyscooby commented on #65
This is not currently enforced by the mattermost management UI.... I upgraded from 1.2.0 -> 1.3.0 just by uploading the new file.

[2019-06-27 01:20] harshilsharma63 commented on #65
@skyscooby Ah, I wasn't aware of that.

[2019-06-27 01:28] harshilsharma63 commented on #47
@goku321 sure, that would be awesome! Let me know if you need any help with this issue or setting up things in general.

[2019-06-27 04:24] goku321 commented on #47
Thanks @harshilsharma63 :) Glad to take this up.

[2019-06-27 12:39] harshilsharma63 commented on #65
@skyscooby We'll pick your suggestions. I'm closing this issue as I don't see any immediate action to be taken. Feel free to re-open or comment for anything.

[2019-06-27 12:39] #65 closed

[2019-06-27 12:57] harshilsharma63 commented on #20
@hubpav If I understand you correctly, you still want the window open and close time, just not the two reminders. The report at window close time would still be posted automatically, Did I get that right?

[2019-06-27 16:34] poVoq commented on #28
Yes apparently no change with version 1.4.0. and the latest Mattermost Team Edition.

[2019-06-27 17:07] hubpav commented on #20
@harshilsharma Yes, your understanding is correct. The reason (besides others) why we have the standup bot is the aggregated output so it helps to avoid the new message notification spam :)

The possibility to squelch reminders would make our mornings calm even more ;) Thanks!

[2019-06-27 23:37] harshilsharma63 commented on #20
@hubpav got it!

[2019-06-27 23:42] harshilsharma63 commented on #28
@poVoq I see. Are you able to change timezone for Mattermost? You'll need to go to `System Console` > `Experimental` > `Timezone` and set it to `true`. Then in your `Account Settings` go to `Display` and try changing the timezone. If that works for you, I can try looking into how Mattermost implements timezones and compare it with the implementation we have here.

[2019-06-28 05:20] poVoq commented on #28
Yes changing time-zone works. Thanks for looking into it.

[2019-07-01 04:48] #9 closed

[2019-07-01 06:45] jatinjtg opened #67 "Update makefile for new releases"
Some changes are done in the release process. Changelogs are now generated using what-the changelog package and the result from the package is passed in the ghr body tag.

[2019-07-01 09:51] #67 closed

[2019-07-03 01:40] harshilsharma63 opened #69 "Prepare and document release process"

[2019-07-08 10:58] harshilsharma63 commented on #47
@goku321 hey, just checking for any progress.

[2019-07-08 16:21] goku321 commented on #47
Hi @harshilsharma63 did not make any progress yet as I was busy with other work. Give me a couple of days and I will get back to you on this. Thanks for your patience.

[2019-07-11 09:06] #31 closed

[2019-07-11 09:07] #59 closed

[2019-07-11 14:25] goku321 commented on #47
@harshilsharma63 Do I need to make changes in the webapp as well?

[2019-07-11 14:37] harshilsharma63 commented on #47
@goku321 sorry I missed your first message.

Regarding your question, yes, we need tome change in webapp as well. The text `tasks for` appears in one place in webapp -
![](https://i.imgur.com/lrsxGZY.png)

[2019-07-11 14:41] harshilsharma63 commented on #47
There is one usage of `tasks for` that I'm curious on how you intent to deal with - https://github.com/standup-raven/standup-raven/blob/24650a74b382c52007684a671408a96264f0630b/server/standup/notification/notification.go#L486

So in type aggregated reports, if a member has no tasks for a specific section, we currently show the text -

    John Doe has no tasks for <section name>

I can't come up w

[2019-07-12 09:57] goku321 commented on #47
How about using `open items for` instead of `tasks for` ?

[2019-07-14 04:30] harshilsharma63 commented on #47
@goku321 yeah, `open items for` sounds nice! So we are removing `tasks from from all places and adding `open items for` just in the one place I mentioned above. Did I get you right?

[2019-07-14 06:12] goku321 commented on #47
@harshilsharma63 yes, that's correct. I'll make the changes and create a PR then :)

[2019-07-14 23:47] #28 closed

[2019-07-14 23:52] harshilsharma63 opened #77 "BUG - Dropdown items in standup config dialog do not navigate by typing"
**Summary**
Dropdown items in standup config dialog do not navigate by typing

**Steps To Reproduce**
Steps to reproduce the behavior:
1. Open standup config dialog `/standup config`.
1. Open any dropdown, timezone for example.
1. Start typing the any desired timezone to be selected.

**Expected behavior**
The option being typed should be navigated to in open dropdown list.

**Observed Behavior**

[2019-07-15 00:14] harshilsharma63 opened #78 "Add option to insert standup schedule in channel header"
**Is your feature request related to a problem? Please describe.**
New members may not know the standup schedule. Also, existing members may not know when and if the standup schedule changes.

**Describe the solution you'd like**
Add option in standup config to insert current standup schedule in channel header. It may also make sense to send notification to the channel when standup schedule change

[2019-07-15 00:57] harshilsharma63 opened #79 "PROPOSAL | UX - auto save standup as draft to avoid accidental loss of information"
**Is your feature request related to a problem? Please describe.**
Sometimes users fill a section, then save the standup because they want to fill the other sections later or they need more information. This sometimes causes their incomplete reports to be included in standup report.

**Describe the solution you'd like**
Add a `Save Draft` option which allows users to, save draft standups. This can

[2019-07-15 01:02] harshilsharma63 opened #80 "PROPOSAL | UX - Add keyboard shortcut for navigating between standup sections"
**Is your feature request related to a problem? Please describe.**
Moving to the mouse just for changing the tabs is not a perfect UX.

**Describe the solution you'd like**
Add keyboard shortcut for navigating between standup sections.

**Describe alternatives you've considered**
NA

**Additional context**
NA

[2019-07-15 01:05] harshilsharma63 opened #81 "PROPOSAL | UX - auto-focus row when changing sections in standup dialog"
**Is your feature request related to a problem? Please describe.**
Needing to use the mouse just for focusing on a row is not a perfect UX.

**Describe the solution you'd like**
When switching sections, auto-focus on the row to allow users to start typing right-away. This can be the last row in the order or the last row user was on.

**Describe alternatives you've considered**
NA

**Additional con

[2019-07-16 10:41] PareshSolankiMI commented on #3
Any update for this request?

[2019-07-16 12:46] harshilsharma63 commented on #3
@PareshSolankiMI this is the next item on my to-do list but it will be included only in August release. You can, however, use a custom build of the plugin once the feature is complete.

On a side note, would you be interested in helping on this feature?

[2019-07-16 14:22] harshilsharma63 commented on #47
Awesome job @goku321 !

[2019-07-16 14:22] #47 closed

[2019-07-16 23:35] #20 closed

[2019-07-16 23:39] #69 closed

[2019-07-17 00:27] harshilsharma63 opened #85 "Release v1.5"
### Release v1.5

Scheduled Release Date: 22 July 2019

#### Daily Tasks

##### Mattermost Release Day

These are to be performed on the day Mattermost release is published.

* [x] Code freeze to be done on this day. No more changes will be included in this release other than RC bug fixes.
* [x] Create a new branch from master named `release-x.y.z` where `x.y.z` is the version being released.
* [x

[2019-07-17 01:01] harshilsharma63 commented on #85
Release cut branch created - `release-1.5`.

[2019-07-17 15:41] mihai-satmarean opened #86 "PROPOSAL - don't require stand-up's for people in holiday"
**Is your feature request related to a problem? Please describe.**
We would like to be able to not require standups for people in holiday

**Describe the solution you'd like**
Connect with Outlook calendar and don't request standups for people absent

**Describe alternatives you've considered**
Just a nice to have

**Additional context**

[2019-07-18 00:12] harshilsharma63 opened #87 "BUG - Standup modal stays in loading state in channels with no standup configured"
**Summary**
Standup modal stays in loading state in channels with no standup configured

**Steps To Reproduce**
1. Navigate to any channel where standup is not configured.
1. Open the standup modal by clicking on the Raven icon in channel header.

**Expected behavior**
The standup modal waits for the `config` API call to complete and shows the message that standup is not configured for this channe

[2019-07-18 00:14] harshilsharma63 commented on #87
On further testing, the standup modal always shows the message -

Irrespective of the actual error.

[2019-07-18 02:00] harshilsharma63 opened #88 "BUG - No placeholder value available for timezone field in system console"
**Summary**
No placeholder value available for timezone field in system console.

**Steps To Reproduce**
1. Install Standup Raven
1. Navigate to Standup Raven configuration section in system console.
1. Notice the value displayed for `Time Zone` field.

**Expected behavior**
Time zone field should indicate that no value is currently saved if it is so.

**Observed Behavior**
Time zone field shows t

[2019-07-18 02:42] harshilsharma63 opened #89 "BUG - Incorrect help text for /standup"
**Summary**

`/standup` command incorrectly states `<command> --help for individual command help`. This was something we tried but eventually removed. Hence, this should be removed.

[2019-07-18 03:37] #89 closed

[2019-07-19 03:23] harshilsharma63 commented on #86
@mihai-satmarean Thanks for the feature proposal!

I'm myself very interested in this feature and in fact we folks here have been discussing about it. The only challenge here is the vast diversity in the mechanisms used by companies for recording vacation. Outlook calendar is one way as you've mentioned. We, for example simply make an entry in a Google Sheet!

Integrating with a system is of cours

[2019-07-19 07:11] mihai-satmarean commented on #86
Thanks for looking into it,
I would make this a generic approach and implement various calendars as the need arises. That can be a list in the admin panel of the plugin, that you enable one element and enter credentials. This time Outlook, next time google calendar, etc. and allow the admins to enable them as needed. when a person is absent in the calendar, do not require the standup. Manually mar

[2019-07-19 17:46] goku321 commented on #78
Can I work on this?

[2019-07-20 01:55] harshilsharma63 commented on #78
@goku321 absolutely!

Let's discuss the UX first. So the think I'm wondering how to tackle is how to handle this with an existing channel header. Maybe we override it, maybe we prepend/append it or something along the lines. I'd love to hear your opinion.

[2019-07-20 06:29] #87 closed

[2019-07-22 01:48] harshilsharma63 commented on #85
v1.5.0 released - https://github.com/standup-raven/standup-raven/releases/tag/v1.5.0

[2019-07-22 01:48] #85 closed

[2019-07-22 08:20] wgbeckmann opened #93 "BUG - Plugin Not Working"
Hi, the Raven Symbol is shown, but the /standup command is not working.

These are the logs (filtered with the word plugin):
[code]

Do you have an Idea, what I can do, to fix it?

Mattermost is inside a Docker-Container
Mattermost Version 5.2.0

[2019-07-22 14:33] harshilsharma63 commented on #93
Hi @wgbeckmann The miminum supported Mattermost version is 5.12.

[2019-07-25 00:44] #93 closed

[2019-07-26 19:35] skyscooby opened #94 "PROPOSAL - Auto-post late user submissions."
**Is your feature request related to a problem? Please describe.**
If a user submits their standup report after the daily report has been triggered. Others need to manually generate a second report to see that users contributions.

**Describe the solution you'd like**
Anytime post the daily report being automatically triggered, have the users individual submission reports post directly to the chan

[2019-07-29 14:35] harshilsharma63 commented on #94
@skyscooby thanks a lot for the feature proposal! This is something we've felt as well.

I'm trying to examine the various solutions here. How about updating the original report itself v/s adding a second, user-exclusive post?

[2019-07-29 16:07] skyscooby commented on #94
@harshilsharma63 I believe that would work provided you also posted a new message in the channel saying "Todays report has been updated by user X" or some other way to signal to the group that they can do a targeted second look at one section of the report.. The reports can get quite long and re-reading the whole thing to figure out what area changed isn't ideal.

[2019-07-31 16:01] goku321 commented on #78
Hi @harshilsharma63 Just wanted to give a heads up that I will be making progress on this one by end of this week. Thank you for you patience

[2019-08-01 01:24] harshilsharma63 commented on #78
@goku321 sure! Thanks for the heads up.

[2019-08-04 10:14] goku321 commented on #78
Hi @harshilsharma63 How should the stand up schedule look like? a string like `Mon-Fri at 9:00 AM` or just a `time` type like `9:00 AM` ?

[2019-08-04 10:39] harshilsharma63 commented on #78
@goku321 I think we should show the day of week as well. Additionally, since we can now set timezone per channel, we can include that as well.

[2019-08-05 19:09] goku321 commented on #78
@harshilsharma63 I need some help here. I have added a `Schedule` option to `StandupConfig` struct inside `server/standup/main.go` but I am not sure where this option will be set. Also, regarding your previous question on channel header: What are the consequences if we override the existing channel header? I am also spending some time on the code base to get a good understanding of it.

[2019-08-06 00:48] harshilsharma63 commented on #78
@goku321 We update all channel-specific configurations from `ConfigModal` - the modal that open from `/standup config` command. You can add a toggle in that modal for this feature and it will be saved in DB.

[2019-08-07 04:08] harshilsharma63 commented on #78
@goku321 regarding precense of existing channel header, how about inserting the standup sentence as a prefix, and separate the two with a pipe `|`? That would look like -

![](https://i.imgur.com/47veYHI.png)

You'll notice that I've included window open time as well as window close time. Thoughts?

[2019-08-07 04:09] harshilsharma63 commented on #94
@skyscooby agreed. We need a way to either highlight the change in existing report, or post just the changes. I'll definitionally look into this and am open to all ideas.

[2019-08-07 11:00] SezalAgrawal commented on #88
Can I take up this task?

[2019-08-07 12:52] harshilsharma63 commented on #88
@SezalAgrawal sure, absolutely!

[2019-08-07 12:52] harshilsharma63 commented on #88
Let me know if you need any assistance.

[2019-08-07 14:26] chetanyakan opened #95 "BUG - Unable to fill the standup after updating the standup config"
**Summary**
Unable to fill the standup after updating the standup config.

**Steps To Reproduce**
Steps to reproduce the behavior:
1. Fill your standup for the day.
2. Update all the standup config sections.
3. Try to fill/update your standup again.
4. Notice that you cannot fill the standup.

**Expected behavior**
The user would be able to fill there standup again.

**Observed Behavior**
Users ar

[2019-08-07 19:11] SezalAgrawal commented on #88
@harshilsharma I am new to this plugin so I am not sure how do I run the plugin to see this bug. I followed the steps as stated in https://github.com/standup-raven/standup-raven/blob/master/docs/getting_started.md.

[2019-08-07 19:26] goku321 commented on #78
@harshilsharma63 I think we can exclude window close time as it is not as important and also, it would make channel header a bit shorter.

[2019-08-07 23:18] harshilsharma63 commented on #78
@goku321 any specific reason for window close time not being important?

I'd say it's the window open time that's not really important as one doesn't have to wait for it to submit their standup. With window open time of, let's say 9:00 AM, one can still submit their standup at 8:00 AM for example. But the window close time is kind of a deadline to submit one.

Also, teams sometimes align their dai

[2019-08-07 23:21] harshilsharma63 commented on #88
@SezalAgrawal so, were you able to get the plugin running? Do you have Mattermost server running locally as well?

[2019-08-08 06:02] goku321 commented on #78
@harshilsharma63 My bad, I misunderstood it :sweat_smile: Thank you for clarification, it is helpful. And, yes prepending the standup schedule to existing channel header works fine.

[2019-08-12 20:05] SezalAgrawal commented on #88
@harshilsharma, I did the following steps:
1. Forked and cloned mattermost-server, set it up, run make run-server. I am getting {"AndroidLatestVersion":"","AndroidMinVersion":"","DesktopLatestVersion":"","DesktopMinVersion":"","IosLatestVersion":"","IosMinVersion":"","status":"OK"} when run curl command.
2. Forked and cloned standup-raven, ran make dist
3. Extracted mattermost-plugin-standup-raven

[2019-08-13 04:08] harshilsharma63 commented on #88
@SezalAgrawal you don't need to extract the plugin tar.gz. There's a [detailed guide on this](https://docs.mattermost.com/administration/plugins.html) over at Mattermost. I'll post quick steps here for reference.

1. Navigate to `System Console` > `Plugins (BETA)` > `Plugin management`.
1. If the `Choose File` button is disabled, make sure `PluginSettings` > `EnableUploads` is set to `true` in Mat

[2019-08-13 07:14] SezalAgrawal commented on #88
@harshilsharma, I setup the mattermost-ewebapp, created system-admin account, but Choose file button is disabled. Where can I find the config.json file?
<img width="1433" alt="Screenshot 2019-08-13 at 12 38 17 PM" src="https://user-images.githubusercontent.com/13785694/62921940-bb4c6b80-bdc7-11e9-90ba-4c95b96c8408.png">

[2019-08-13 18:30] SezalAgrawal commented on #88
@harshilsharma63 I was able to setup standup-raven plugin and ran it successfully. Will work on the bug now.

[2019-08-13 23:25] harshilsharma63 commented on #88
@SezalAgrawal that's awesome!

[2019-08-15 09:07] harshilsharma63 opened #98 "Fixed typo in user_guide.md"

[2019-08-15 09:09] #98 closed

[2019-08-15 11:40] #3 closed

[2019-08-16 16:10] goku321 commented on #78
Hi @harshilsharma63 I am a bit confused. If I add a toggle for schedule in `ConfigModal` how would it get displayed in the channel header?

[2019-08-17 00:57] harshilsharma63 commented on #78
@goku321 from what I think, if in a channel's standup config you enable this feature (similar to other toggles like those for notification) and save the config, we'd update channel header. So on config save, you'd need to check if the feature is enabled or disabled. If enabled, you either have to insert the schedule, or update it.

Does that clarify?

[2019-08-17 16:36] goku321 commented on #78
@harshilsharma63 Yes, it makes sense. Thank you for clarifying.

[2019-08-18 08:54] SezalAgrawal commented on #88
@harshilsharma63 I tried this approach: Added an option {"display_name": "Select a timezone", "value": "defaultTimezone"}, in timezones.json and add default="defaultTimezone" in plugin.json. The only thing is it would display "Select a timezone" in the options also. Is it okay?
![image](https://user-images.githubusercontent.com/13785694/63222309-cc301f00-c1c3-11e9-81a5-de0dd21f7710.png)

[2019-08-18 09:19] harshilsharma63 commented on #88
@SezalAgrawal I'm not sure how much of the plugin features have you explored, but let me share some surrounding functionalities. The timezone value in system console is only a default value. A user can configure standup time on per-channel basis when they configure the standup for a channel. When they configure a channel standup, the value from system console is used as the default selected value

[2019-08-18 19:28] jatinjtg opened #100 "BUG - No loader in standup config modal"
**Summary**
Loader is missing in standup config modal.

**Environment**
-  Mattermost version: e.g. 5.13
-  OS:ubuntu
-  Platform: browser

[2019-08-18 19:38] #100 closed

[2019-08-18 19:49] jatinjtg commented on #100
The issue has been resolved in this pr - https://github.com/standup-raven/standup-raven/pull/97

[2019-08-20 23:08] harshilsharma63 opened #101 "Release v2.0"
### Release v2.0

Scheduled Release Date: 22 August 2019

#### Daily Tasks

##### Mattermost Release Day

These are to be performed on the day Mattermost release is published.

* [x] Code freeze to be done on this day. No more changes will be included in this release other than RC bug fixes.
* [x] Create a new branch from master named `release-x.y.z` where `x.y.z` is the version being released.
*

[2019-08-20 23:11] harshilsharma63 commented on #101
Release cut branch created - `release-2.0`.

[2019-08-20 23:25] harshilsharma63 opened #102 "BUG - Non-admin user unable to submit standup when permission schema is enabled"
**Summary**
Non-admin user unable to submit standup when permission schema is enabled

**Steps To Reproduce**
Steps to reproduce the behavior:
1. Enable permission schema.
1. Login via a non-admin user.
1. Click on Raven icon to submit standup.

**Expected behavior**
Each user in standup channel should be able to submit standup.

**Observed Behavior**
For non-admin, standup modal is unable to fetc

[2019-08-20 23:45] #102 closed

[2019-08-21 14:37] #101 closed

[2019-08-26 14:15] harshilsharma63 commented on #88
Congrats @SezalAgrawal on your first completed Standup Raven issue!

[2019-08-26 14:15] #88 closed

[2019-08-26 14:16] harshilsharma63 commented on #78
HI @goku321 ! Any updates on this?

[2019-08-27 15:18] goku321 commented on #78
Hi @harshilsharma63 I need a couple of days for this. Will try to post an update on this within a day or two.

[2019-08-31 17:06] goku321 commented on #78
Hi @harshilsharma63 I was able to add a toggle for standup schedule and it is being saved in the db as well. I also tried saving standup schedule and retrieving it inside `config` modal and it worked fine.  But, still not sure how would it update the channel header or display standup schedule inside channel header. Am I missing anything?

![WhatsApp Image 2019-08-31 at 3 22 32 PM](https://user-ima

[2019-09-03 06:01] harshilsharma63 commented on #78
@goku321 first of all I'll request you to sync your fork with the latest master. We've updated the UI styling a big and used material stype toggle buttons in place of enable-disable dropdowns. Like this -

![](https://i.imgur.com/QuT8saa.png)

Coming to your question, you can use [`UpdateChannel(channel *model.Channel) (*model.Channel, *model.AppError)`](https://developers.mattermost.com/extend/pl

[2019-09-10 06:16] ndtunitydev opened #106 "BUG - Command with a trigger of 'standup' not found"
**Summary**
Can't use the command `/standup config`.

**Steps To Reproduce**
Steps to reproduce the behavior:
1. Upload the plugin binary for your platform in Mattermost System Console > Plugins (BETA) > Management.
2. Get into the channel and try using the command `/standup config`
3. A Message `Command with a trigger of 'standup' not found. To send a message beginning with "/", try adding an emp

[2019-09-10 09:30] goku321 commented on #78
@harshilsharma63 I got this, thanks. Will create a PR soon

[2019-09-15 23:29] harshilsharma63 commented on #78
@goku321 hi there! Just catching up to see if there is any progress here.

[2019-09-22 15:15] goku321 commented on #78
Hi @harshilsharma63 I am able to update the channel header. I have created a toggle for standup schedule, if it's enabled, standup schedule is displayed inside channel header. Also, if there's an existing channel header I prepend it with standup schedule and a pipe (`|`).

There can also be a case where we have an existing channel header like `Mon-Fri from 9:00 AM to 10:00 AM | Team Standup`. I am

[2019-09-26 16:57] attzonko opened #107 "PROPOSAL - Add custom frequency for the stand up prompts (DAILY, WEEKLY, etc.)"
**Is your feature request related to a problem? Please describe.**
We have a channel that would like to use Standup Raven on a weekly based time frame, instead of daily.

**Describe the solution you'd like**
It would be very helpful to be able to have stand up raven query a channel weekly instead of daily.

**Describe alternatives you've considered**
Don't know of any alternatives.

**Additional c

[2019-09-27 00:50] harshilsharma63 commented on #107
@attzonko that's a really nice idea! We'll work on it, or maybe you want to help on this one?

[2019-09-28 23:59] git-push-origin-master opened #108 "PROPOSAL - Open standup modal on /standup"
**Is your feature request related to a problem? Please describe.**
Trying to remove one mouse click.

**Describe the solution you'd like**
Open standup modal on /standup

[2019-09-29 18:18] goku321 commented on #78
Hi @harshilsharma63 I have a question: I am able to update the channel header by enabling standup schedule from the config modal but I have to reload the page to see the updated channel header. Ideally, updated channel header should be visible after we save the standup config. Any idea on how to do this?

[2019-10-01 00:49] harshilsharma63 commented on #106
Hi @ndtunitydev can you make sure the plugin was enabled?

[2019-10-01 01:09] harshilsharma63 opened #111 "Add project contributors list"
Add project contributors list

[2019-10-01 09:51] ndtnarudol commented on #106
@harshilsharma63

Yes, the plugin was enabled.

![画像の貼り付け先- 2019-10-1 18-32](https://user-images.githubusercontent.com/48474751/65952161-a907b900-e46b-11e9-8fea-b4d75b829e96.png)
![画像の貼り付け先- 2019-10-1 18-33](https://user-images.githubusercontent.com/48474751/65951051-7492fd80-e469-11e9-9ae4-a1320dbf5d0b.png)

[2019-10-02 15:57] jatinjtg commented on #106
@ndtnarudol you have to configure standup for a channel.To configure the standup for a channel use command - /standup config.To know about all the available slash commands you can use- /standup help

[2019-10-03 03:41] ndtnarudol commented on #106
@jatinjtg
Thanks for the response but as being said in the [report](https://github.com/standup-raven/standup-raven/issues/106#issue-491472317), I can't use the command `/standup config`.

[2019-10-03 03:41] ndtnarudol commented on #106
@jatinjtg
Thanks for the response but as being said in the [report](https://github.com/standup-raven/standup-raven/issues/106#issue-491472317), I can't use the command `/standup config`.

[2019-10-03 07:03] jatinjtg commented on #106
@ndtnarudol The minimum mattermost version needed for standup raven is 5.12.0.

[2019-10-04 05:00] ndtnarudol commented on #106
@jatinjtg
ah... I see.
The version of my mattermost is 4.20.

Thanks for the information!

[2019-10-06 23:52] #111 closed

[2019-10-06 23:52] #108 closed

[2019-10-10 07:13] cadavre opened #119 "PROPOSAL - Add button to fill standup directly from reminder"
Proposal for a simple addition  to plugin's UX:

When time for standup comes – Raven is sending a reminder:

This is a great intro-point for filling the startups, but instead of staying in focus with chat message we need to go to topbar and select "Standup Raven".

### Proposal

Why don't we add a button to fill the standup right in reminder message? Just like i.e. audio-call plugins add to "Join

[2019-10-16 14:10] attzonko opened #120 "QUESTION: Missing Standup Raven Icon"
Hi,

We are seeing that once in a while the standup-raven icon disappears from the UI. As the admin, I have tried re-installing the plugin, restarting mattermost, but I can't seem to find a way to make it work. Do you have some way of re-adding the icon to the UI?

[2019-10-16 14:52] attzonko commented on #120
Got a bit more data. If I install version 1.5 the icon comes back. As soon as I install 2.0 the icon disappears again. This process is very repeatable in the current state of the system.

[2019-10-17 01:30] harshilsharma63 commented on #120
@attzonko thanks for the bug report! What version of Mattermost are you on?

[2019-10-17 01:37] attzonko commented on #120
5.14.3

[2019-10-17 02:51] harshilsharma63 commented on #120
@attzonko Okay. I'll try it on my end.

[2019-10-17 10:39] mthld commented on #120
Reproduce this on Mattermost 5.15. Interesting point: on the iOS app I can still see it.

[2019-11-08 10:28] jprusch opened #121 "BUG - Multiple notifications send on reminder"
**Summary**
We get multiple reminder notifications instead of one

**Steps To Reproduce**
Steps to reproduce the behavior:
1. Created a standup with window open & window close reminders
2. Added standup members

**Expected behavior**
Receive ONE reminder notice

**Observed Behavior**
We received three reminder notices
**Screenshots**
![image](https://user-images.githubusercontent.com/9337414/68469

[2019-11-23 11:07] harshilsharma63 commented on #121
Hi @jprusch . Are you by any chance running Mattermost in high-availability mode?

[2019-11-25 08:09] jprusch commented on #121
Never mind. Must have been a sort of glitch. Didn't happen twice.

[2019-11-25 08:09] #121 closed

[2019-11-29 03:15] colorfusion opened #122 "PROPOSAL - Groups for added members"
**Is your feature request related to a problem? Please describe.**
Our project team usually write our stand-up reports based on our roles (programmers / designers), so it is easy to see what the group will be doing for the day. The application's current workflow collates everyone's stand-up together, it becomes a little hard to read as a result.

**Describe the solution you'd like**
Split the stan

[2019-11-30 10:52] harshilsharma63 commented on #78
Thanks, @goku321 for the base code. It was helpful!

[2019-11-30 10:53] #78 closed

[2019-11-30 13:24] harshilsharma63 commented on #122
@colorfusion thanks for the idea!

I do get your point but I don't see many peoples using the feature. Would separate channels for group standup won't work for you?

Let's see if people are interested in the feature!

[2019-12-01 11:44] harshilsharma63 opened #124 "Release v2.1.0"
### Release v2.1.0

Scheduled Release Date: 1 December 2019

#### Daily Tasks

##### Mattermost Release Day

These are to be performed on the day Mattermost release is published.

* [x] Code freeze to be done on this day. No more changes will be included in this release other than RC bug fixes.
* [x] Create a new branch from master named `release-x.y.z` where `x.y.z` is the version being released.

[2019-12-01 12:45] #124 closed

[2019-12-01 13:33] harshilsharma63 commented on #120
@attzonko @mthld I tried on 5.14.3 and 5.15.3 and it's working perfectly for me. Would you mind trying out the latest v2.1.0 release?

[2019-12-01 14:25] mthld commented on #120
Hi @harshilsharma63

Fixed. Thanks!

[2019-12-01 14:35] colorfusion commented on #122
Our project group have a common channel for daily stand-ups, but we have a
separate stand up thread for different roles (programmers / designers).
Being able to setup a common platform to automate our daily standup
(standup raven) is a really wonderful idea, we would still like to see our
daily standup report divided into our subgroups.

In the event that this feature actually gets developed, my o

[2019-12-01 14:46] colorfusion commented on #122
Our project group have a common channel for daily stand-ups, but we have a
separate stand up thread for different roles (programmers / designers).
Being able to setup a common platform to automate our daily standup
(standup raven) is a really wonderful idea, we would still like to see our
daily standup report divided into our subgroups.

In the event that this feature actually gets developed, my o

[2019-12-02 02:25] harshilsharma63 commented on #120
@mthld awesome!

@attzonko can you also give it a try?

[2019-12-02 04:13] leonheess opened #125 "PROPOSAL - Optional automatic reminder message deletion"
**Is your feature request related to a problem? Please describe.**
The Raven sends multiple messages reminding people to fill in the stand-up which clutter the chat and have no long-term use.

**Describe the solution you'd like**
A setting so the Raven automatically deletes all reminder messages of the day after sending the stand-up report of the day.

[2019-12-02 09:26] DeathNeeeet opened #126 "BUG - config command failed v2.1"
**Summary**
`/standup config` command failed v2.1 (Mattermost  5.14.2)

**Steps To Reproduce**
Steps to reproduce the behavior:
1. type `/standup config`
2. fill inputs
3. Save click
4. See errors (500 Internal Server Error)

v2.0 works well.

**Environment**
-  Mattermost version: 5.14.2
-  OS: every OS
-  Platform: browser, desktop app, mobile browser, mobile app
-  Browser (if applicable): ever

[2019-12-03 09:53] memlucky71 commented on #126
I also had this problem with version 2.1, so I had to use version 2.0.

[2019-12-03 19:26] attzonko commented on #120
I installed v2.1.0 and the icon came back. Will let you know if the issue comes back once this version has been in use for a while.

[2019-12-07 00:33] harshilsharma63 commented on #126
@DeathNeeeet @memlucky71 thank you for reporting the bug. I'm on it!

[2019-12-07 02:52] harshilsharma63 commented on #126
@DeathNeeeet @memlucky71 please try out https://github.com/standup-raven/standup-raven/releases/tag/v2.2.0 and let me know if the bug is resolved for you.

[2019-12-08 02:38] harshilsharma63 commented on #120
@attzonko thanks for confirming!

[2019-12-08 02:38] #120 closed

[2019-12-08 03:00] harshilsharma63 commented on #125
@leonheess that's a great idea! This is fairly easy to implement. Would you like to contribute by implementing this?

[2019-12-08 17:34] leonheess commented on #125
@harshilsharma63 Sure, I'll try

[2019-12-08 19:05] leonheess commented on #125
@harshilsharma63 I have never used Go before so here is my (probably shitty) attempt: https://github.com/leonheess/standup-raven/tree/GH-125

Not sure how I can test locally either... also `make test` results in:

[code]

[2019-12-08 23:51] harshilsharma63 commented on #125
@leonheess hey, you did it almost perfectly! Kudos on your first Go code!

There is just one change needed. Currently, you store all post IDs to be deleted in an in-memory array. This will have side effects when Mattermost is run in high availability mode. I'd recommend storing this information in the provided `KVStore`. But we cannot just keep a single array with KVStore as it will again cause ra

[2019-12-09 01:41] Moyni84 opened #128 "PROPOSAL - WEEKLY STANDUP SUPPORT"
I would like to be able to use Raven for a weekly standup.

This could be done by exposing "Work Week Start" and "Work Week End" to the standup config.

[2019-12-11 00:07] #126 closed

[2019-12-11 00:11] harshilsharma63 commented on #128
@Moyni84 thanks for the feature suggestion!

We've received similar requests for other users as well. In a more generic way, we can allow users to define their custom standup frequency - daily, every 2 days or simply every x days. We'd definitely consider this feature request and work on it as soon as I'm able to get some bandwidth.

Wondering if you'd be interested in working on this?

[2019-12-11 06:33] Moyni84 commented on #128
Thanks for getting back to me. This would be great. My Java/JavaScript is non existent unfortunately otherwise I would jump right in (goal for 2020).

Cheers, Michael

---- Harshil Sharma wrote ----

@Moyni84<https://github.com/Moyni84> thanks for the feature suggestion!

We've received similar requests for other users as well. In a more generic way, we can allow users to define their custom stand

[2019-12-11 19:29] leonheess commented on #125
@harshilsharma63 I tried to improve my attempt. As I am not able to set up the project properly I can't test anything or even execute any code, I just coded what I thought would make sense and committed.

I also don't understand your last question. Sorry :/

[2019-12-11 23:39] harshilsharma63 commented on #125
@leonheess your changes look great!

You can run Mattermost in a high availability mode, as a cluster. So with plugins, a copy of plugin runs on each node in this cluster. Let's say we have standup raven on two nodes trying to process standup for the same channel at the same time. Both nodes would be doing `KVGet` and `KVSet` together, thus causing a race condition.

But I see you've kept a separa

[2019-12-11 23:40] harshilsharma63 commented on #125
Also, can you create a pull request so I can easily see your changes?

[2019-12-11 23:56] leonheess commented on #125
Thanks! I will look into those tomorrow (:

[2019-12-12 03:27] Yoshi325 commented on #122
@harshilsharma63 what is the best way to signal interest? +1 to initial post?

[2019-12-12 07:45] harshilsharma63 commented on #122
@Yoshi325 great question! That is definitely one way to show interest in a feature. Other ways could be if we receive similar requests from other users via Github issues or directly. Feel free to vote on any feature proposal!

[2019-12-12 15:27] sphr opened #130 "BUG - Incorrect request path when mattermost runs in a subdir"
**Summary**
The plugin does not account for mattermost running in a subdir https://example.com/chat/ and gives a error 404 since it's hardlinked to /plugin/

**Steps To Reproduce**
Set up mattermost with a URL that includes a subdir. Load the plugin. start it with /standup configure and try to enable or disable it in a channel and it will now throw a 404 in the standup window.

**Expected behavior

[2019-12-17 00:11] Yoshi325 commented on #122
Sounds good. I definitely have interest in this feature. We have many, many channels in our mattermost, so it would be idea to not have to create individual ones.

[2019-12-22 23:37] harshilsharma63 commented on #130
@sphr thanks for the bug report!

That makes sense. Can you confirm that in your setup you would have `https://example.com/chat` set as `Site URL`? If so, we can use that as the base URL.

[2019-12-22 23:56] sphr commented on #130
That is correct, https://example.com/chat is mattermost's siteurl

[2019-12-23 00:03] harshilsharma63 commented on #130
@sphr yes, of course it can be different. As long as site URL is what Matterost runs on, we can use that.

Would you by any chance be interested in implementing this?

[2019-12-23 00:08] sphr commented on #130
I'm not confident enough in javascript and how the variables propagate between mattermost and the addon to suggest a solution formulated in code at this time.

[2019-12-23 00:10] harshilsharma63 commented on #130
@sphr no problem! I'll pick this as the next item on my plate.

[2020-01-23 13:39] sei-jdshimkoski opened #132 "PROPOSAL - Add indicator to channelHeaderButton that lets a user know they have successfully filled out their standup"
**Is your feature request related to a problem? Please describe.**
I'm always frustrated when I submit my standup report and have no indicator that tells me that my standup was successfully saved outside of the generic save success alert in the modal window.

**Describe the solution you'd like**
Add a styling change to the channelHeaderButton in the form of, perhaps, a green checkbox when a user h

[2020-01-24 00:38] #125 closed

[2020-01-24 14:24] leonheess commented on #125
Thanks for finishing the work! I unfortunately haven't had the time to revisit this in the past few weeks :/

[2020-01-26 01:49] harshilsharma63 commented on #125
@leonheess hey, no problem and thanks for the base logic you wrote!

[2020-01-27 00:26] harshilsharma63 commented on #132
@sei-jdshimkoski thanks for your feedback!

The `Standup submitted successfully!` popup only appears when the API call to save standup data returned a success response. So you can be assured that if you see that message, standup data has been successfully saved. I'm open to the idea though. Does anyone else in your organization face a similar issue?

[2020-02-07 09:34] Grienauer opened #133 "PROPOSAL - App/Mobile Support"
**Is your feature request related to a problem? Please describe.**
Currently submitting a Standup by a user is not supported in the mobile app (there is no button or slash command to start a submission.

**Describe the solution you'd like**
Add a / command like /standup write and a bot is asking you the questions one by one and you can separate them via ";" per Question…
could be related to https:

[2020-02-12 03:10] harshilsharma63 commented on #133
Hi @Grienauer , thanks for the suggestion!

Mattermost mobile app currently doesn't support webapp plugins so we cannot display any Standup Raven button or open up a modal on mobile. Slash commands work fine though.

The idea of using slash commands in an interactive way to submit standups sounds cool! We'll consider this in our next iteration.

[2020-02-14 17:38] gcerice commented on #16
@harshilsharma
We have a similar need.  Our team has members in US & India.  We need US contributions made today included in the same report with contributions from India tonight.   We have our daily standup phone calls at 5:45am US and would set the Raven window to end just shy of then.  However we need the Raven window to begin in the US afternoon of the previous day.   We could ideally configur

[2020-02-19 09:25] MatthiasDamm opened #134 "BUG - User Icon too big in Standup Report"
**Summary**
The profile of the user image in standup report is too big

**Steps To Reproduce**
Steps to reproduce the behavior:
1. Upload image to your user profile account (tested png, jpeg with different sizes)
2. Create standup config in a room
3. Suuply the standup for your user
4. See error

**Expected behavior**
Icon should be max height of username like in docs

**Observed Behavior**
see er

[2020-02-23 07:44] harshilsharma63 commented on #134
@MatthiasDamm thanks for reporting the bug.

This was, however, a bug with Mattermost itself (see [here](https://github.com/mattermost/mattermost-server/issues/13539)) and it has been resolved in Mattermosr v5.19. I suggest you upgrade to Mattermost v5.19 or above.

[2020-02-23 07:45] #134 closed

[2020-02-24 00:41] #32 closed

[2020-02-24 00:44] harshilsharma63 commented on #16
@gcerice I understand your requirements and would to work this out.

[2020-02-24 12:50] harshilsharma63 commented on #133
@Grienauer We wish to include more functionalities to the standup modal in the future. Using slash commands might not allow the same user experience as a modal would.

We recommend you use Mattermost on a mobile browser for submitting standups as it's fully supported over there.

[2020-02-24 12:50] #133 closed

[2020-02-24 13:34] harshilsharma63 commented on #132
@sei-jdshimkoski we haven't found anyone facing this issue. Do you still feel the success message is not useful?

[2020-02-24 14:28] sei-jdshimkoski commented on #132
Sorry for the delayed response.

This is a minor UX-related issue that is more confusing for non-technical staff. Explaining the details of how the success message works does help. The message is useful, however, a successful submission could be indicated in a more obvious way to the users that would remove the necessity to explain the technical side of how Standup Raven works.

The primary concer

[2020-02-27 13:28] gcerice commented on #16
@harshilsharma63 disregard my input. We found work-around by setting up the raven window using India timezone instead of US timezone. Within IST, both start and stop times occur before midnight.
4:30a IST --> 5:00p IST then becomes 5:00p CST --> 5:30a CST

[2020-03-04 06:28] bobchao commented on #128
If you only have one group of people need to do the stand-up report (or all the groups on your server do the report on exactly the same day of the week,) then:

1. Set both workWeekStart and workWeekEnd on the day you want, say Saturday.
2. Add a ```if``` block to handle the situation when workWeekStart == workWeekEnd

it might help... I just tried this approach myself to see if everything goes we

[2020-03-09 02:22] bobchao commented on #128
FYI the method I mentioned in the last comment works pretty well. However, the whole instance will follow the same rule, which might not be helpful in some cases.

[2020-03-12 17:19] Schleuse opened #135 "BUG - Standup-Button does not exists, when another plugin (e.g webex) adds the same kind of button"
**Summary**
Standup-Button does not exists, when another plugin (e.g webex) adds the same kind of button.

**Steps To Reproduce**
Steps to reproduce the behavior:
1. Install & activate webex & standup-raven Plugin
2. Open a channel
3. Notice the missing Standup Raven-Button in the top

**Expected behavior**
Both the webex & the standup-Raven plugin are adding buttons in the top bar of the channel

[2020-03-12 17:20] #135 closed

[2020-03-12 17:23] Schleuse commented on #135
After glancing over the screenshots I've posted. I've notices this button for the first time:

![2020-03-12_18h21_39](https://user-images.githubusercontent.com/2717384/76548060-79cf8c00-648e-11ea-925c-bdefe419c75c.png)

🤦‍♂️🤦‍♂️🤦‍♂️

[2020-03-15 14:10] shieldsjared opened #137 "BUG - Invalid Timezone Specified"
**Summary**
Unable to configure standup in a channel. No matter what timezone is selected, the error message: ```
An error occurred while saving standup config.
Invalid timezone specified : "America/New_York"
[code]

[2020-03-15 15:15] shieldsjared commented on #137
I am currently investigating to determine if this is specific to running Mattermost on windows.  There is a known issue with golang+windows+timezones here: https://github.com/golang/go/issues/21881

To test the referenced issue, I installed golang on the server running mattermost and now i have a completely different error:

[code]

This is interesting because all other plugins activate just fine.

[2020-03-16 15:14] svelle opened #138 "BUG - Releases labeled incorrectly"
**Summary**
The linux release includes a plugin.exe

**Steps To Reproduce**
Steps to reproduce the behavior:
1. Download https://github.com/standup-raven/standup-raven/releases/download/v2.2.0/mattermost-plugin-standup-raven-v2.2.0-linux-amd64.tar.gz
2. Extract and check server folder

[2020-03-16 15:16] #138 closed

[2020-03-16 15:17] svelle commented on #138
looks like they're all labeled plugin.exe.. not the best idea. Now I've got to look into why the plugin won't start :sweat_smile:

[2020-03-17 18:08] shieldsjared commented on #137
Installing GO on the MM host didnt do the trick, at least not on it's own. What _did_ do the trick was adding an environment variable ZONEINFO and setting it to the path of the zoneinfo db, e.g. (ZONEINFO=c:\Go\lib\time\zoneinfo.zip)

Updating title to reflect that this appears to be a windows-specific issue.

[2020-03-18 12:55] ptr0x1 opened #139 "PROPOSAL - Add option to order stand-ups alphabetically"
**Is your feature request related to a problem? Please describe.**
We are testing out daily standups with more than 30 people. The user aggregated view is good but it is hard to scan through and find the exact person we're looking for.

**Describe the solution you'd like**
It would be great to order based on "username" or "First Name Last Name" when showing the results.

**Describe alternatives yo

[2020-03-18 16:15] sphr commented on #130
This actually seems to impact other plugins as well, I have issued a bug report with mattermost as well.
https://github.com/mattermost/mattermost-server/issues/14106

[2020-03-19 02:01] harshilsharma63 commented on #130
@sphr Yes, all plugins developers will have to take care of this. I think there's little Mattermost can do about this. They can definitely mention this in the plugin development guide.

[2020-03-19 02:02] harshilsharma63 commented on #130
For an update on this issue, I've made the code changes and I'm testing it now. It should be good to release this week.

[2020-03-20 15:22] ThiefMaster opened #140 "PROPOSAL - Hide channel header button if standups are not enabled"
I don't want the raven button to show up at all unless standups are configured in a channel.

Rationale: A few users asked me to enable this plugin on our somewhat large instance, so I don't want to have this button show up if the plugin isn't used in 99% of the channels at all.

[2020-03-20 15:37] ThiefMaster opened #141 "BUG - Remove leftover debug code"
https://github.com/standup-raven/standup-raven/blob/master/server/plugin.go#L172

This is quite annoying since it spams the headers for every request to the plugin's http endpoints to the log, using the INFO log level.

[2020-03-22 22:20] Moyni84 commented on #128
Thanks @bobchao but for my usage I would like to configure per channel. Given the explosion of WFH at the moment, I shall see if I can find someone to make this change.

[2020-03-23 19:06] Ziv00s3 commented on #106
I have the same problem on 5.21.

[2020-03-23 19:54] salsudais opened #142 "BUG - The plugin makes IOS app not working"
**Summary**
When we enable the plugin, the IOS gives a white page (attached a screenshot) and after we disable the plugin, the app works fine.

**Steps To Reproduce**
Steps to reproduce the behavior:
1. Enable the plugin.
2. Open the IOS app.
3. The app will give you a white page.

**Expected behavior**
The IOS shouldn't be affected.

**Observed Behavior**
IOS shows a white page.

**Screenshots**

[2020-03-23 23:13] harshilsharma63 commented on #106
@Ziv00s3 @ndtunitydev can you check Mattermost logs for some error in the plugin?

[2020-03-24 07:18] Ziv00s3 commented on #106
@harshilsharma63 fixed, I have uploaded Darwin version on Linux. Thank you!

[2020-03-24 15:05] harshilsharma63 commented on #137
@shieldsjared thank you for reporting the bug, and apologies for the delayed reply.

Does it work fine if you set the `zoneinfo` variable?

[2020-03-24 15:07] harshilsharma63 commented on #139
@ptr0x1 that's a really useful feature and pretty easy to implement. I'll pick this one ASAP. If you're interested, feel free to contribute on this.

[2020-03-24 15:08] harshilsharma63 commented on #140
@ThiefMaster thanks for the feature suggestion. That does make sense.

I'm gonna try this out but feel free to contribute on this (or any other issue) meanwhile.

[2020-03-24 15:09] harshilsharma63 commented on #141
@ThiefMaster that's a valid point. On it.

[2020-03-24 15:12] harshilsharma63 commented on #142
@salsudais thanks for the bug report.

I'll try reproducing and debug the bug and it might take some time since I don't have access to an iPhone. You can access it on the mobile browser meanwhile if it helps.

[2020-03-24 15:36] shieldsjared commented on #137
Indeed it does work fine after setting that value. Maybe update the readme in the interim?

Thanks for the plugin! Works great for my team!

Sent from my iPhone

[2020-03-25 02:40] #139 closed

[2020-03-26 01:20] #141 closed

[2020-03-26 01:20] harshilsharma63 commented on #141
This has been fixed and will be part of 2.3.0 release.

[2020-03-26 12:41] ajellman opened #145 "PROPOSAL - Modify the report layout"
When the report is configured "Type Aggregated" the contributions by user are separated by a very large icon using a lot of space.  This makes it harder to read the entire report as a coherent whole.

Suggested change:  Make the user icon smaller or just use a label to identify the user so the report reads more contiguously.
<img width="371" alt="Screen Shot 2020-03-26 at 8 36 57 AM" src="https://

[2020-03-26 17:02] jatinjtg commented on #145
@ajellman This was a mattermost bug in v5.18.0 (see  [here](https://github.com/mattermost/mattermost-server/issues/13539)) and was resolved in Mattermost v5.19.0. I will suggest you to upgrade your mattemost version to v5.19.0 or above.

[2020-03-27 01:42] harshilsharma63 commented on #145
@ajellman see #134 .

[2020-03-27 01:42] #145 closed

[2020-03-27 01:43] harshilsharma63 commented on #138
@svelle yes, the executable binary in all of them is named `plugin.exe`. Just curious, were you able to get t working?

[2020-03-28 09:50] harshilsharma63 opened #146 "Release v2.3.0"
### Release v2.3.0

Scheduled Release Date: 29 March 2020

* [x] Code freeze to be done on this day. No more changes will be included in this release other than RC bug fixes.
* [x] Create a new branch from master named `release-x.y.z` where `x.y.z` is the version being released.
* [x] Create release issue on GitHub based on the [release issue template](https://github.com/standup-raven/standup-rave

[2020-03-28 12:02] #146 closed

[2020-03-28 12:04] harshilsharma63 commented on #141
@ThiefMaster this has been fixed in the latest release - 2.3.0. Please update your plugin installation.

[2020-03-28 12:04] harshilsharma63 commented on #139
@ThiefMaster this has been implemented in the latest release - 2.3.0. Please update your plugin installation.

[2020-03-28 12:04] harshilsharma63 commented on #125
@ThiefMaster this has been implemented in the latest release - 2.3.0. Please update your plugin installation.

[2020-03-30 01:21] harshilsharma63 commented on #140
@ThiefMaster This feature has been requested by a few more people as well.  Although the channel header button cannot be conditionally enabled or disabled, there is an alternate solution to this.

We can add a plugin configuration to entirely disable the channel header button from all channels. Users can access standup dialog via the `/staandup` slash command and continue as usual.

How does that

[2020-03-30 07:11] ThiefMaster commented on #140
Sounds like a good tradeoff. But allowing conditionally-shown header buttons would be a good feature for a future Mattermost version.

[2020-03-30 23:22] harshilsharma63 commented on #140
@ThiefMaster agreed. This is something Mattermost doesn't provide but I've already created a ticket over there regarding this.

[2020-03-31 23:17] #130 closed

[2020-04-01 01:04] harshilsharma63 opened #149 "Release v2.4.0"
### Release v2.4.0

Scheduled Release Date: 1st April 2020

#### Daily Tasks

##### Mattermost Release Day

* [x] Code freeze to be done on this day. No more changes will be included in this release other than RC bug fixes.
* [x] Create a new branch from master named `release-x.y.z` where `x.y.z` is the version being released.
* [x] Create release issue on GitHub based on the [release issue templa

[2020-04-01 01:15] #149 closed

[2020-04-01 01:16] harshilsharma63 commented on #130
@sphr This has been implemented as part of [v2.4.0](https://github.com/standup-raven/standup-raven/releases/tag/v2.4.0) release. Please update your plugin instalation.

[2020-04-03 13:54] chetanyakan commented on #142
I tested this on `iPhone 7+` and `iOS 13.3.1` with the latest version of mattermost mobile app from the app store.
- I was able to connect to our organization's mattermost server, which has `standup-raven` enabled and configured, without any issues.
- The functionality of the plugin, however, was limited as the webapp components aren't loaded in the mobile apps.

I also tested with safari browser

[2020-04-04 12:41] hanzei opened #151 "Add to Plugin Marketplace"
Thanks @harshilsharma63 and @chetanyakan for writing this awesome plugin :tada:

Having this plugin in the Plugin Marketplace would be a great addition. It would create awareness about this pluging and help admins to install and update it more easily. Would you be interested on submitting your plugin to the Plugin Marketplace? You can find the process for submitting your plugin [here](https://deve

[2020-04-07 00:37] harshilsharma63 commented on #151
@hanzei we're very much excited about submitting Standup Raven on Mattermost Marketplace. Let me go through the [steps](https://developers.mattermost.com/extend/plugins/community-plugin-marketplace/) and see when can we get it done.

Do you have some a milestone for the marketplace in mind to which we can align our release?

[2020-04-08 00:50] harshilsharma63 commented on #140
@ThiefMaster I was able to do it as expected - the channel header button hides in channels where standup is not configured. This will be released in the upcoming release next week.

In case you want to deploy it right away, you may build the plugin by self or just let me know and I can give you compiled binaries for this.

[2020-04-09 01:31] harshilsharma63 opened #153 "Opt-In Sentry Reporting"
1. Allow automatic Sentry error reporting.
1. Allow changing Sentry configurations in plugin settings. This can allow organizations to send the error to their own Sentry instead of Standup Raven's.
1. Allow disabling error reporting.

[2020-04-12 19:13] helperkeys commented on #128
I also have the requirement of configuration per channel. Once I'm off hotel wifi, I'll be looking to submit a PR for this.

[2020-04-13 05:09] harshilsharma63 commented on #128
@Moyni84 @bobchao @helperkeys this is definitely on my list. I understand the urgent need during the WFH situation and am trying to get as much done on Standup Raven as possible.

@Moyni84 just to clarify, do you want to submit standup one a week or do you want an aggregated weekly report? Same question for @helperkeys and @bobchao .

Thanks!

[2020-04-13 05:38] bobchao commented on #128
I would like to have one report per week since we are a volunteer group, once a week will be better than report everyday.

[2020-04-13 06:57] harshilsharma63 commented on #128
@bobchao and you want to fill standups also once a week?

[2020-04-13 07:05] bobchao commented on #128
@harshilsharma63 yes

[2020-04-13 07:50] Moyni84 commented on #128
Same here. Making how many days selectable per channel would be the ideal but my use case is once a week. Saw this and thought it could be used on the front end. https://github.com/ntdb/react-weekday-picker.

[2020-04-13 08:34] negbie commented on #128
+1 for filling standups once a week!

[2020-04-13 21:37] helperkeys commented on #128
It doesn't have to necessarily be once per week. I would like the ability to specify the frequency in which we submit standup _per_ channel.

Aggregated weekly reports would be great as well!

[2020-04-13 21:37] helperkeys commented on #128
It doesn't have to necessarily be once per week. I would like the ability to specify the frequency in which we submit standup per channel.

Aggregated weekly reports would be great as well!

[2020-04-15 10:35] supportreq opened #154 "PROPOSAL - End of Day Status Standup"
**Is your feature request related to a problem? Please describe.**
The Daily standup works very well, so we have scheduled it at the start of the day.. But we also want to schedule the same for the same channels at a later time in the evening or so..

**Describe the solution you'd like**
Allow multiple standups across the day

**Describe alternatives you've considered**
Currently we are doing it a

[2020-04-15 10:47] supportreq opened #155 "PROPOSAL - Email once the standup is filled"
**Is your feature request related to a problem? Please describe.**
Currently if you want to check a standup say a month old, it is difficult to check, you need to go through the entire chat history.

**Describe the solution you'd like**
We were looking if the standups can be sent as an email and also a way if i give a date I can get that day's standup.. Also a way to configure the emails on which

[2020-04-16 09:22] urba1n opened #156 "PROPOSAL - customise Work Week Start and End per channel"
**Describe the solution you'd like**
Be able to customise the Work Week Start and Work Week End per channel in the config.

Some channels have only part time working members or some channels might be used as weekly standup.

[2020-04-16 14:39] #156 closed

[2020-04-18 03:35] #153 closed

[2020-04-18 03:36] harshilsharma63 opened #159 "Release v2.5.0"
### Release v2.5.0

Scheduled Release Date: 18 April 2020

* [x] Code freeze to be done on this day. No more changes will be included in this release other than RC bug fixes.
* [x] Create a new branch from master named `release-x.y.z` where `x.y.z` is the version being released.
* [x] Create release issue on GitHub based on the [release issue template](https://github.com/standup-raven/standup-rave

[2020-04-18 03:46] #159 closed

[2020-04-18 03:47] harshilsharma63 commented on #140
@ThiefMaster this has been released as part of [v2.5.0](https://github.com/standup-raven/standup-raven/releases/tag/v2.5.0). Please upgrade your plugin installation.

[2020-04-19 00:13] harshilsharma63 commented on #155
@supportreq you can already view old standups by running the command-

[code]

Specifying `private` generates the report only visible for you, useful for personal use and `private` posts the report visible to everyone in the channel.

[2020-04-19 00:16] harshilsharma63 commented on #154
@supportreq I'm trying to fully understand your use-case. So you generate the report once in the morning, and once in the evening. I'm guessing people are updating their standups in the day and you want these updates standups posted again in the evening? Did I get it right?

[2020-04-19 00:17] harshilsharma63 commented on #142
Thanks, @chetanyakan for testing it. @salsudais can you confirm if you are still facing the issue?

[2020-04-20 03:11] harshilsharma63 commented on #142
@salsudais I'm closing this issue for now. Please feel free to re-open this if you still face this issue.

[2020-04-20 03:11] #142 closed

[2020-04-20 03:13] harshilsharma63 commented on #128
@helperkeys yes, that's definitely a more generic approach. I'm trying to replicate something like a recurring event in a calender.

[2020-04-21 10:11] hanzei commented on #151
@harshilsharma63 Awesome, looking forward to seeing this plugin in the Marketplace :tada:

Given the this is a fairly advanced plugin with a large code base the code review will take a long time. Hence, I suppose it's best if you just submit your plugin and if new code gets added it will also be included in the review.

[2020-04-24 04:52] supportreq commented on #154
Hey @harshilsharma63 they fill the standup in the morning and one more standup [say a status report] in the evening for the task achieved..

[2020-04-25 00:11] bbodenmiller commented on #140
@harshilsharma63 looks like this works...
![image](https://user-images.githubusercontent.com/1192780/80265988-795e0f80-864e-11ea-8867-9ad4d33b1cf6.png)

... unless you have a second plugin configured that adds a channel header icon...
![image](https://user-images.githubusercontent.com/1192780/80266011-9eeb1900-864e-11ea-9728-1f8fc1f7c7c9.png)

[2020-04-26 11:42] harshilsharma63 commented on #140
@bbodenmiller ah! Thanks for catching this. I'll get started on this. It should be a quick fix.

[2020-04-27 00:38] harshilsharma63 opened #161 "Release v2.5.1"
### Release v2.5.1

Scheduled Release Date: 27 April 2020

* [x] Code freeze to be done on this day. No more changes will be included in this release other than RC bug fixes.
* [x] Create a new branch from master named `release-x.y.z` where `x.y.z` is the version being released.
* [x] Create release issue on GitHub based on the [release issue template](https://github.com/standup-raven/standup-rave

[2020-04-27 00:41] #161 closed

[2020-04-27 00:44] harshilsharma63 commented on #140
@ThiefMaster this is fixed and released as part of [v2.5.1](https://github.com/standup-raven/standup-raven/releases/tag/v2.5.1). One caveat remains that the count in plugin icons remains the same whether the Raven icons is visible or not. Unfortunately, there is nothing that can be done (reliably) to fix this.

<img width="311" alt="Screenshot 2020-04-27 at 6 14 30 AM" src="https://user-images.git

[2020-04-27 00:44] #140 closed

[2020-04-27 08:53] bbodenmiller commented on #140
@harshilsharma did you file a feature request or anything with MM to make this easier/more reliable?

[2020-04-27 15:08] harshilsharma63 commented on #140
@bbodenmiller had created a feature request ticket. at - https://github.com/mattermost/mattermost-server/issues/14179 , but no response as of yet.

[2020-04-29 16:00] GChester commented on #137
We have this same issue...  Not sure how to fix it since we do not have the GoLang installed?  I'l try to find the zonefile zip file and put in an env var.

[2020-05-10 12:37] harshilsharma63 commented on #128
A screenshot of progress so far. Would love to get some comments and feedback on this -

![localhost_8065_team-a_channels_standup-raven (2)](https://user-images.githubusercontent.com/8211068/81499408-15dc0f00-92e9-11ea-9d46-001e750c59c5.png)

[2020-05-11 03:04] bobchao commented on #128
Looks good to me 👯

[2020-05-14 12:14] urba1n commented on #128
Good as well. Do you plan to link the standup filled outside the Window Time to the next Window Time available ? E.g. for a weekly standup every Monday between 07:00-09:30, if collaborators are filling it on previous Friday due to a leave of absence on Monday, they should be linked to the Monday standup.

[2020-05-15 07:39] Moyni84 commented on #128
Covers everything I was looking for. Thanks.

[2020-05-17 05:47] harshilsharma63 commented on #128
@urba1n I'll add a date picker to standup form to allow submitting standups for any arbitrary date. This covers many more cases than just future standup. Some users like to keep a record of standups and want to fill past standups in case someone missed it.

[2020-05-17 05:47] harshilsharma63 commented on #128
@Moyni84 Glad it works for you! The UI is going to be much more refined though.

[2020-05-20 02:43] Fahad-pnw opened #162 "PROPOSAL - Add a REST endpoint for submissions to server"
**Is your feature request related to a problem? Please describe.**
Looking for a way to figure out how to submit daily stand ups to a server. Probably a POST request should do the trick and then i'd display a calendar like, nice preview to keep track on progress.
I'd like to work on this, if someone could guide a specific file / area where i'd write simple curl/js ajax calls to send to the server.

[2020-05-30 05:34] harshilsharma63 commented on #162
@Fahad-pnw sorry for the delay in responding.

The HTTP API endpoint for submitting a standup is located here - https://github.com/standup-raven/standup-raven/blob/593ce1b3f5d2895d36fe1c33557048cd0192f0ef/server/controller/standup.go#L32

I'm trying to understand your use case though. Are you trying to gather standup data externally and submit it in Standup Raven?

[2020-05-30 13:00] Fahad-pnw commented on #162
If it is possible somehow, we'd like to create a calendar / post the data
to a database and then enlist each employee's daily stand up.

On Sat, 30 May 2020 at 10:34 AM, Harshil Sharma <notifications@github.com>
wrote:

[2020-05-31 06:19] harshilsharma63 commented on #162
@Fahad-pnw are you trying to create a monthly report?

[2020-05-31 09:38] Fahad-pnw commented on #162
Yes. A monthly, weekly, daily report sent off to a server script. This
script would ideally allow you to change date and view the reports for a
particular day in past.

On Sun, 31 May 2020 at 11:20 AM, Harshil Sharma <notifications@github.com>
wrote:

[2020-05-31 10:39] harshilsharma63 commented on #107
@attzonko this is being done as part of #128. Please check out the WIP screenshots in there and feel free to make any suggestions.

Closing this one.

[2020-05-31 10:44] harshilsharma63 commented on #162
@Fahad-pnw You can use the `executeGetStandup` API to fetch user's data https://github.com/standup-raven/standup-raven/blob/593ce1b3f5d2895d36fe1c33557048cd0192f0ef/server/controller/standup.go#L62

But there's no plan right now to push standup to external services. I do actually want to implement a report functionality as you've mentioned. Would you consider working on it?

[2020-06-01 19:36] attzonko commented on #107
Looks good 👍

[2020-06-01 19:37] #107 closed

[2020-06-02 19:14] Fahad-pnw commented on #162
hi, yes, would be keen to work on it, probably will put on an intern to do
this, will update you if we do work on this any time soon :)

On Sun, 31 May 2020 at 3:45 PM, Harshil Sharma <notifications@github.com>
wrote:

[2020-06-04 14:42] Killerbear commented on #16
we would also love to be able to set a starting time that is "after" the ending time.
If the starting time is after the ending time would just mean, that ending time is on the next day.

our usecase is as follows:
daily meeting at 10 o'clock.
and everything added to the raven after this meeting should be added to the daily for the next day.
our prefered time windows would then start: 11:00 and end

[2020-06-09 03:17] harshilsharma63 commented on #162
@Fahad-pnw that would be awesome. I'll post over here the ideas I had in mind.

[2020-06-09 13:42] monsdar opened #164 "PROPOSAL - Config option "Standup Schedule" is not documented"
**Is your feature request related to a problem? Please describe.**
When configuring a standup there is a toggle "Standup Schedule". It seems that this switch is not documented anywhere. It could mean a lot of different things. I found that this is related to showing the schedule within the Channels header while searching through the Github project: #78

**Describe the solution you'd like**
* Docum

[2020-06-10 23:30] harshilsharma63 commented on #164
@monsdar thanks for the feedback.

Agreed the label "Standup Schedule" is not clear enough. I think with your suggestion of "Add Channel Header", it's not clear that what will be added to channel header. How about this -

<img width="311" alt="Screenshot 2020-06-11 at 4 58 52 AM" src="https://user-images.githubusercontent.com/8211068/84328675-4214d500-aba0-11ea-9f45-09b5b8f7cc55.png">

[2020-06-11 01:58] harshilsharma63 opened #165 "Integrate stylint"
Integrate [Stylint](https://stylelint.io/) in CI and lint job in Makefile

[2020-06-11 03:12] harshilsharma63 commented on #165
Done as part of #128

[2020-06-11 03:12] #165 closed

[2020-06-11 10:18] monsdar commented on #16
This is the first thing that came up after we set up the plugin within our Mattermost instance. Would be nice to be able to fill in the next standup anytime after the previous has passed.

Multiple teams asked for this individually, so it seems this would be an intuitive thing to have.

[2020-06-12 00:52] harshilsharma63 commented on #16
@Killerbear @monsdar  why we cannot treat anything filled after standup report as next standup is because sometimes when people miss filling their standup, they fill it after the report and re-generate. the report.

The simplest solution I can think of is adding a datepicker to standup submission modal. that allows you to select the date you want to submit the standup for. This approach keeps the

[2020-06-13 18:51] monsdar commented on #164
Yeah, i like that idea

[2020-06-15 12:40] Killerbear commented on #16
@harshilsharma this sounds like a good solution.
Important is for everyone else is that you should not need to select a date everytime you want to submit to the raven. Only if you want to post for a different date.

This means that nothing should change for the common usage of the raven.
The default day selected in the datepicker should be the current day.
And only for our usecase you can click on

[2020-06-16 01:00] harshilsharma63 commented on #16
@Killerbear yes, agreed. Would you be interested in working on this feature?

[2020-06-16 17:06] fstani opened #166 "BUG - Can't save standup raven config"
**Summary**
Can't save standup raven config after plugin install

**Steps To Reproduce**
Steps to reproduce the behavior:
1. Install Plugin
2. Type `/standup config` on any channel
3. Set properties according to screenshot
4. Receive error
[code]

**Expected behavior**
Config saves

**Observed Behavior**
What actually happened.

**Screenshots**
![image](https://user-images.githubusercontent.com/46

[2020-06-16 17:20] fstani commented on #166
Some other information from the console:

A POST to:
`plugins/standup-raven/config`

Returns the 401 with this response in the body:
[code]

Seems like the issue happens on the Windows App version only, I was able to perform the config in the browser version:

Seems related to:
https://github.com/standup-raven/standup-raven/issues/64

But, I was not able to resolve it in the app after trying this

[2020-06-16 17:42] fstani commented on #166
Here's what actually worked, had to Log Out and Log In again

[2020-06-16 17:42] #166 closed

[2020-06-16 18:54] Killerbear commented on #16
@harshilsharma
i havent work with react or go before. but i can try.
dont expect too much ^^

[2020-06-17 00:29] harshilsharma63 commented on #16
@Killerbear hey sure, here to help if you face any issue. Do you have any approach on mind?

[2020-06-17 00:31] harshilsharma63 commented on #166
@fstani HI, glad the issue. is resolved for you. Did you recently upgraded from an older version of Mattermost? The solution you mentioned fixed the same issue for many users when they upgraded from a specific version of Mattermost (cannot recall which version it was though).

[2020-06-17 00:36] fstani commented on #166
No @harshilsharma, I don't think I have, although I might've tested the plug-in before in the past, I'm uncertain right now. Thanks for the reply.

It's a bit strange that it requires a logout and login to work, which is why it seemed that the issue was with the desktop app.

[2020-06-17 00:40] harshilsharma63 commented on #166
@fstani that's strange. Seems like an issue specific to Windows desktop app.

[2020-06-17 02:33] fstani commented on #166
Perhaps, though some other colleagues also had similar issues using the plugin in their MacOS, I can ask tomorrow and see which setups had issues.

Also it's good to note that I've just installed the latest published version of the plugin, and it was the first time using it

[2020-06-17 20:12] Killerbear commented on #16
@harshilsharma my current ideas are:

1. put a datepicker on every input field
2. add a button at the buttom where Cancel/Submit is with "change submit date" -> opens a datepicker
3. add a button at the buttom "add report" -> opens datepicker -> after picking a date a new report form is shown

my favorite one is second.
If the raven is empty you can change the date and see the datepicker. already

[2020-06-18 01:37] harshilsharma63 commented on #16
@Killerbear I like the second option as well but not sure if bottom is the right place for this. I was thinking of a next and previous day buttons on top itself for quick navigation to next day. And a button for selecting. the date like you've mentioned.

I really like the idea of highlighting the days for which a standup is submitted 👍

I think we'll have to show a. confirmation dialog to indicat

[2020-06-18 07:25] jrevillard opened #167 "PROPOSAL - Multiline interface"
**Is your feature request related to a problem? Please describe.**

Most of the time when I fill my standup, I have to copy paste what "I planned to do" the day before and put it in the what "I realy done yesterday" section. This is quite painful actually because I cannot past directly the multiline description that I have in the previous day report.

**Describe the solution you'd like**

I would

[2020-06-18 09:42] astralcar opened #168 "BUG - Header button misbehaves"
**Summary**
Header button takes up whole channel in Firefox.

**Steps To Reproduce**
Steps to reproduce the behavior:
1. Open a channel with the raven enabled
2. The header button takes up the whole window and floats over the channel chat, covering it

**Expected behavior**
The button should be in its usual place in the header, with its appropriate size.

**Observed Behavior**
The button size foll

[2020-06-19 01:15] harshilsharma63 opened #170 "Release v2.5.2"
### Release v2.5.2

Scheduled Release Date: 19 June 2020

* [x] Code freeze to be done on this day. No more changes will be included in this release other than RC bug fixes.
* [x] Create a new branch from master named `release-x.y.z` where `x.y.z` is the version being released.
* [x] Create release issue on GitHub based on the [release issue template](https://github.com/standup-raven/standup-raven

[2020-06-19 01:26] harshilsharma63 commented on #168
@astralcar thank you for the bug report. This is now fixed in [v2.5.2](https://github.com/standup-raven/standup-raven/releases/tag/v2.5.2).

[2020-06-19 01:27] #170 closed

[2020-06-19 01:40] harshilsharma63 commented on #168
Closing this now. Feel free to re-open in case you still face the issue.

Thanks 👍

[2020-06-19 01:40] #168 closed

[2020-06-19 01:44] harshilsharma63 commented on #167
@jrevillard thanks for the feature suggestion 👍

This sounds really cool and useful. This can be done like when you paste a text, it can detect there are multiple lines in it and ask the user if they want to insert <n> entries or just one. If they choose <n> entries, Standup Raven can itself break down the clipboard text into multiple lines and insert multiple  entries.

Just curious, would you be

[2020-06-19 06:28] jprusch opened #171 "BUG - Raven Icon enlarged & hides content"
**Summary**
After upgrade to MM 5.24 the Raven icon hides content & is shown enlarged on Firefox 77.0.1

**Steps To Reproduce**
Steps to reproduce the behavior:
1. Open Firefox
2. Open Mattermost site with current version 5.25
3. Login & switch to channel with Standup Raven enabled

**Expected behavior**
A small raven icon is shown above the notification area,

**Observed Behavior**
The raven icon

[2020-06-19 06:31] jprusch commented on #171
All caches have been cleared.

[2020-06-19 08:11] jprusch commented on #171
OK, fixed...

[2020-06-19 08:11] #171 closed

[2020-06-19 09:09] harshilsharma63 commented on #171
@jprusch thank you for the bug report. This is now fixed in [v2.5.2](https://github.com/standup-raven/standup-raven/releases/tag/v2.5.2).

[2020-06-19 17:56] dmatz opened #172 "BUG - Not getting a configure modal when attempting to configure Standup Raven"
**Summary**
When I attempt to configure Standup Raven it refers to a modal, however, the modal is not visible.

**Steps To Reproduce**
Steps to reproduce the behavior:
1. Go to a channel you wish to create a standup for
2. Issue the command /standup config
3. Observe that the system says it has created a modal for you to configure the standup in
4. Note that there is no modal created

**Expected b

[2020-06-19 20:58] Killerbear commented on #16
@harshilsharma the idea with the confirmation dialog is good. 👍

i can also put the buttons on top but
i wanted to made this feature as less important as possible because 99% of the users will never use this feature (i assume). So i would like to add only one single date button.
Because having 3 buttons permanently cluttering the UI but will never be used by the majority of the users is maybe not

[2020-06-20 05:26] jrevillard commented on #167
@harshilsharma63 thanks for you interested for this feature.

What you propose seems a good idea which does not introduce ui modification. It will have to be able to deal with multiple end of line information to be cross platform (\r\n, \n). Perhaps a configuration would be usefull in order to specify a list of eol characters to be even more generic but this is perhaps too much.

Unfortunately no

[2020-06-22 00:11] harshilsharma63 commented on #167
@jrevillard good point regarding multiple new line chars. I think it can be easily handled within JavaScript itself.

No worries mate!

[2020-06-22 00:16] harshilsharma63 commented on #16
@Killerbear agreed with your point of making it subtle. It'll definitely be used by more than 1% users (make 10%?) as we've received this feature request multiple times.

Yes. Since this a Mattermost plugin, you need a Mattermost server running on your system.
You can get one running following the official Mattermost guide available at https://mattermost.com/download/ .

[2020-06-22 00:18] harshilsharma63 commented on #172
@dmatz can you try clearing the cache by navigating to View > Clear Cache and Reload?

A few other users have also reported this and clearing the cache fixed it permanently.

[2020-06-22 05:43] Yerzhan commented on #172
@harshilsharma63 we had same issue with configure modal window not showing up, but after testing on different browsers it opened up in firefox.
And now the standup notification triggered at scheduled time but window itself is not showing up for all team members. Only notification to start filling up standup
<img width="382" alt="Screen Shot 2020-06-22 at 11 37 21" src="https://user-images.githubus

[2020-06-22 11:50] monsdar commented on #16
I just found that using Docker to develop plugins works in a good way with Mattermost. Perhaps it's a bit easier to set up. Documented my findings [here](https://yetiblog1337.wordpress.com/2020/06/21/writing-mattermost-plugins-with-vscode-and-docker/)

[2020-06-22 17:42] dmatz commented on #172
Unfortunately clearing caches didn't work on either the Mattermost client or Firefox.

[2020-06-23 14:42] harshilsharma63 commented on #172
@Yerzhan @dmatz

1. Are you facing this issue specifically on upgrading to Mattermost 5.24?
2. Do you see any console error in View > Developer Tool for Current Server > Console ?

If you still face the issue feel free to email me and we can schedule a quick call look into this together on your systems.

[2020-06-26 00:21] harshilsharma63 commented on #172
@Yerzhan @dmatz this is related top websockets. Can you confirm  you'd proxy or firewall  doesn't block websockets?

[2020-06-26 06:39] Yerzhan commented on #172
@harshilsharma63 Yes, there is some network problem. But firewall is not blocking websockets. I'll check some other configurations if the error on the screenshot is related to websockets.
<img width="966" alt="Screen Shot 2020-06-26 at 12 36 06" src="https://user-images.githubusercontent.com/1494220/85828239-c030c880-b7a9-11ea-8145-65dbe66850b6.png">

[2020-06-26 18:27] dmatz commented on #172
We were having this issue before upgrading to 5.24.  In digging through the
developer tools log I found the following error which may explain the issue
we're having:

client.js:772 Mixed Content: The page at '
https://chat.asf.alaska.edu/asf/channels/town-square' was loaded over
HTTPS, but requested an insecure XMLHttpRequest endpoint '
http://chat.asf.alaska.edu/plugins/standup-raven/plugin-confi

[2020-06-27 02:57] harshilsharma63 commented on #172
@dmatz what have you configured in Mattermost `SiteURL` setting (System Console > Web Server > Site URL). It seems that you have `http` in your Site URL. Can you confirm that?

If this is the case you should change it to `https`.

[2020-06-27 02:58] harshilsharma63 opened #174 "CORS Issue With Standup Raven APIs"
@harshilsharma63 Yes, there is some network problem. But firewall is not blocking websockets. I'll check some other configurations if the error on the screenshot is related to websockets.
<img width="966" alt="Screen Shot 2020-06-26 at 12 36 06" src="https://user-images.githubusercontent.com/1494220/85828239-c030c880-b7a9-11ea-8145-65dbe66850b6.png">

Update. It's actually was subdomain setup prob

[2020-06-27 02:59] harshilsharma63 commented on #172
@Yerzhan your issue seems different. I've created #174 for your discussing your issue.

[2020-06-27 03:02] harshilsharma63 commented on #174
@Yerzhan I'm trying to understand your Mattermost setup.

What's your Mattermost URL and what have  you configured in `SiteURL`?

[2020-06-27 03:34] dmatz commented on #172
Harshil,

  Yes, I did have http instead of https in the SiteURL.  I changed it to
https, restarted Mattermost and the proxy.  I am still getting the same
symptoms where I am told to configure via the open modal, but don't have an
open modal.  However, I no longer have the SSL error in the developer
tools.    And I am able to connect to
siteurl/plugins/standup-raven/plugin-config in a web browser

[2020-06-27 12:43] harshilsharma63 opened #176 "Handle websocket based slash commands in webapp"
Handle the following slash commands in webapp instead of server -

1. `/standup`
1. `/standup config`

These commands have no business logic in server and mearly send a websocket event to webapp to open a modal. This can be done in webapp itself.

This will fix issues where websocket is not reliable or unstable.

[2020-06-29 05:12] Yerzhan commented on #174
Our Mattermost was available by 2 URL's. One with `mattermost` subdomain, second one with `chat`. SiteURL has the one with `chat`, so when you try to use raven from `mattermost` you get CORS issue. Now we just removed old URL with `mattermost` subdomain and plugin works correctly

[2020-07-01 06:38] ptr0x1 opened #178 "PROPOSAL - Pre-fill previous answers"
**Is your feature request related to a problem? Please describe.**
Our day-to-day work often involves week-long projects where much of the same information is added day-to-day (with some changes).

**Describe the solution you'd like**
It would be great to have a 'fill yesterday's answer' next to the Save button, which would allow people to more quickly edit only what has changed and keep the rest.

[2020-07-01 14:34] harshilsharma63 commented on #178
@ptr0x1 thanks a lot for the feature request!

We actually have this on the mind and other users have requested this as well.

The complexity of this feature is that those sections are custom. For example, I could have a standup config where I have no section for yesterday's task. Similarly, the name of the section can be anything, for example - "yesterday", "previous day" etc.  Also, there can be

[2020-07-02 01:20] #176 closed

[2020-07-02 01:23] harshilsharma63 commented on #174
@Yerzhan That's interesting. What's your use case that requires two URLs BTW? I'm trying to understand the use case here to see if other users might ever need this as well.

[2020-07-02 07:43] ptr0x1 commented on #178
Ah that's a very good point that I did not think about - that custom questions complicates it quite a bit. I think that pre-load check is a great idea. Maybe it could also have an extra option to 'move answers to the next/previous question'?

Our questions relate to things you 1. did yesterday, 2. plan on doing today, and 3. blockers. So most of the time on day1 you set what you do today, then on

[2020-07-03 23:48] harshilsharma63 commented on #178
@ptr0x1 yes I agree this will make it easier to fill standups. I like `move answers to the next/previous question` idea. Or maybe for simplicity, we always move it to the next section. I think it would work. Just need a simple enough UI for it when configuring.

[2020-07-03 23:49] harshilsharma63 commented on #16
@Killerbear hi there! Did you get a chance to think about the mockups?

[2020-07-04 08:35] Killerbear commented on #16
@harshilsharma i was trying to get the raven up and running on my machine.
But the readme isnt really helpful especially for people on Windows.
Instead i was trying to follow the link that monsdar posted 2 comments above cause i like the idea of using docker for development.
But it gets stuck on the `make` process.

Maybe you're right and i should start with the mockups first. ^^

[2020-07-04 08:57] harshilsharma63 commented on #16
@Killerbear are you talking about Mattermost's readme?

Have you tried these steps for running Mattermost on Windows with Docker - https://developers.mattermost.com/contribute/server/developer-setup/ ?

Can  you post the output when you are stuck? You can also post your query at https://community.mattermost.com/core/channels/developers . I'm sure someone else has faced the same issue as well.

[2020-07-04 09:08] monsdar commented on #16
Make sure to increase your memory limit for the docker containers. Build got stuck for me as well when i was giving only 2gb. Solved it by giving 8gb.

[2020-07-04 09:14] harshilsharma63 commented on #16
@Killerbear one of my friends suggested installing Windows Subsystem for Linux then running Mattermost directly from the source code.

[2020-07-04 09:15] monsdar commented on #16
Or try out docker for Windows with WSL2 backend. It's on my bucket list as well.

[2020-07-04 09:53] Killerbear commented on #16
i've already done this. maybe i can try even more.

yes i can try this.

i can also try cygwin
or installing ubuntu on a new partition

we'll see how it goes. ^^

[2020-07-04 11:07] harshilsharma63 commented on #16
@Killerbear Windows Subsystem for Linux is far superior to Cygwin or a VM. WSL integrates better, is actively maintained, and works just so well than the other two solutions.

[2020-07-04 19:08] Killerbear commented on #16
@harshilsharma63 i was curious about Figma so i gave it a try.
Pretty nice tools. works very well in the browser.
here is how i would imagine it.
https://www.figma.com/file/n6MOG0xehggDoHQeiSIhbR/Standup-Raven?node-id=0%3A1

maybe the icon and text needs to be a little brighter but i think the position on the first one is pretty intuitive.
The order of actions is: 1. Fill out the form -> 2. change

[2020-07-05 00:05] harshilsharma63 commented on #16
@Killerbear screenshots look neat! I don't think I have permission for the Figma file. You'll need to generate a sharing URL.

[2020-07-05 03:24] KateGo520 opened #180 "Errors you may encounter when upgrading the library"
（This report is a warm prompt for `standup-raven/standup-raven` to prevent or combat this issue.）

## An error will happen when upgrading library _mattermost/mattermost-server_:

### github.com/mattermost/mattermost-server
-Latest Version: v5.25.0-rc1   (Latest commit 9102483 5 days ago)
-Where did you use it:
https://github.com/standup-raven/standup-raven/search?q=mattermost%2Fmattermost-server%2

[2020-07-05 03:25] KateGo520 commented on #180
@harshilsharma63  @bbodenmiller  Could you help me review this issue? Thx :p
**By the way**, have you ever encountered such errors when upgading the libraries?

[2020-07-05 04:13] harshilsharma63 commented on #180
@KateGo520 thanks a lot for the investigation you did regarding this!

I just gave this a quick read and I think there are primarily two things we need to do -

1. Migrate to Go modules
1. Upgrade Mattermost dependency.

I agree with you that we should be using Go modules and upgrade to a newer Mattermsot version.

I did actually try migrating to Go modules in the past but couldn't complete it.

[2020-07-05 04:14] harshilsharma63 commented on #180
Maybe you'd be interested in switching this to  Go modules? It would be awesome if you could do that.

[2020-07-05 04:31] KateGo520 commented on #180
@harshilsharma63 Yes , that would be better.Thanks for your reply.
Wish you every success in migrating to Go Modules！
Thanks again.
Kate

[2020-07-05 04:35] KateGo520 commented on #180
**By the way**, have you ever encountered such errors when upgading the libraries?

[2020-07-05 07:54] Killerbear commented on #16
@harshilsharma63 i changed the permissions now. you should be able to see something.

[2020-07-08 01:32] harshilsharma63 commented on #180
@KateGo520 I don't remember exactly but those were related to some dependencies using Go modules and some don't. I think there is support for this as well.

[2020-07-08 01:35] harshilsharma63 commented on #16
@Killerbear that looks neat 👌. We already have a react-bootstrap date picker in the plugin so all we need to do here in the UI department is add the date picker to standup modal.

[2020-07-20 13:42] praisebob opened #181 "BUG - v2.5.2 not working with Mattermost 5.25.0"
**Summary**
Newest plugin version v2.5.2 does not seem to be working with newest Mattermost 5.25.0

**Steps To Reproduce**
Steps to reproduce the behavior:
1. Install plugin via plugin upload feature in Mattermost System Console (mattermost-plugin-standup-raven-v2.5.2-linux-amd64.tar.gz)
2. Enable plugin in System Console.

**Expected behavior**
Standup Raven icon appears in GUI.

**Observed Behav

[2020-07-22 06:34] absynth47215 opened #183 "BUG - :emoji: not displayed in standup modal"
**Summary**
Emoji entered with :emoji: syntax are not correctly displayed in the modal

**Steps To Reproduce**
1. Create a new standup
2. Add an emoji to a question, our example: ":muscle: What did I achieve yesterday?"
3. Fill standup
4. See literally ".muscle: What did I achieve yesterday" in the modal [EDIT: I had to replace the first : with a . due to Github using the same emoji shortcode as M

[2020-07-25 19:50] huzaifarif commented on #181
Plugin does not start properly. Getting these errors in the server logs:

`{"level":"error","ts":1595705384.6344297,"caller":"mlog/sugar.go:23","msg":"Couldn't marshal database schema version unexpected end of JSON input","plugin_id":"standup-raven"}
{"level":"error","ts":1595705384.6356332,"caller":"mlog/log.go:175","msg":"Unable to activate plugin","plugin_id":"standup-raven","error":"unexpected

[2020-07-26 00:22] harshilsharma63 commented on #181
@praisebob I tested with v5.25 and it's working perfectly. You won't see the Raven icon if standup is not enabled in a channel. It will show up as soon as you enable it from `/standup config`. Could this have been your issue?

[2020-07-26 00:24] harshilsharma63 commented on #181
@huzaifarif thanks a lot for the PR but the code you updated is going to be part of future v3.0.0 release but the issue being faced here is with v2.5.2.

[2020-07-26 05:21] huzaifarif commented on #181
@harshilsharma63 oh my bad! thanks for pointing out.
But I still feel that those checks should be present as it would fail on new installations without those checks as I showed in the logs above. (Unless I'm doing something wrong here?)

May need to update PR to not be linked to this issue.

[2020-07-27 09:05] praisebob commented on #181
Hi, yes, thank you for that. v2.3.0 did not seem to require that. We wish to upgrade from v2.3.0 to v2.5.2 so I guess the expectation was that all settings form older version (including whether the plugin is enabled on particular channel) would transfer to the newer version. Will we have configure all the settings from the start for this new version? Or will `/standup config` will just enable the

[2020-07-31 03:18] harshilsharma63 commented on #183
@absynth47215 apologies for the late reply. And thanks for the bug report.

Emoji support is a cool thing and not supporting is, well, not cool. I believe we never thought about emojis in section titles and so it never got implemented. A fix for this will also allow us to use markdown in there.

This should be doable though as Mattermost provides a utility for exactly this task.function for render

[2020-07-31 03:23] harshilsharma63 commented on #181
@praisebob all settings are persisted and you should be able to see the icon right away. In the worst case, a reload should bring it back up.

Apologies for the late reply.

[2020-07-31 03:24] harshilsharma63 commented on #181
@praisebob let me know if this still doesn't work for you.

[2020-07-31 04:35] harshilsharma63 commented on #106
I'm closing this one now as you were able to resolve the issue. Feel free to reopen if needed.

[2020-07-31 04:35] #106 closed

[2020-07-31 06:34] absynth47215 commented on #183
Sorry, that's way out of my depth :) I am halfway fluent in PHP but that's about it. I'd love to look at the fix to understand how Mattermost does emoji replacement (I believe I found a similar issue at another point in my test setup) but I'm afraid that if I touched the code, you'd end up with more bugs, not less. :-)

[2020-07-31 10:48] praisebob commented on #181
@harshilsharma63 Hello, yes. The icon reappeared after running `/standup config` in a particular channel and all settings remained as they were. Thank you very much, appreciate your help!

[2020-07-31 10:48] #181 closed

[2020-08-02 13:11] Killerbear commented on #16
just for a quick update. i'm still trying to get this up and running. WSL is pretty nice but its not solving the problems. i was hoping that using docker would solve some problems in setting up mattermost but instead it just creates new problems. but yeah. i'm still on it.

[2020-08-17 17:41] mthld opened #187 "BUG - v3.0.0 introduce error "SqlChannelStore.Update: You can not modify an archived channel., ""
**Summary**
When upgrading from v2.5.2 to v3.0.0 we get the following error:
[code]

**Steps To Reproduce**
Steps to reproduce the behavior:
1. Download the v3.0.0 release from GitHub
2. Upload it to the admin console through the plugin management section
3. Accept the overwrite proposal
4. Get an error message saying the plugin cannot restart or being activated

**Expected behavior**
The plugin s

[2020-08-18 01:10] TimIMC opened #188 "BUG - Standup Raven addon dominates screen in Mattermost 5.25.3"
Currently in my mattermost my standup raven icon addon dominates the screen.

Running 5.25.3 on Fedora 32 Linux with Firefox 79.0

On Chrome and on my Mac the addon icon is just a small icon in the top bar. In Firefox it dominates the whole screen. Have tried restarting mattermost and Firefox completely to fix to no avail.

My co-workers have also seen this in Firefox on Mac.

![image](https://use

[2020-08-18 03:43] harshilsharma63 commented on #188
Hi 👋 @TimIMC, this was fixed in [v2.5.2](https://github.com/standup-raven/standup-raven/releases/tag/v2.5.2). I recommend you to upgrade the plugin version.

Let me know if you still face the issue after upgrading.

[2020-08-18 04:35] TimIMC commented on #188
We upgraded to v2.5.2 which does fix this problem.  Unfortunately it can't be seen on the Mac desktop app at all now.

[2020-08-18 04:41] harshilsharma63 commented on #188
@TimIMC I suppose you've upgraded from a version lower than v2.5.0. In v.2.5 we introduced a new feature that hides the Standup Raven button in channels where standup is not enabled. Is it possible you're looking in a such a channel? If not, it's probably a temporary WebSocket issue. Just try giving it a hard refresh (⌘ + Shift + R on Mac).

[2020-08-18 04:50] TimIMC commented on #188
No sign in the channels it is supposed to be in (it shows up in browser)

Refreshing already tried (twice), deleting and re-adding the server via the preferences, and upgrading the desktop app to latest version

[2020-08-19 04:30] harshilsharma63 commented on #188
Hmm, that's weird, because I recreated your exact same config (Mattermost 5.25, Standup Raven 2.5, Mac Mattermost desktop app 4.5.2) and didn't face the issue.

Can you check the app console (`View` > `Developer Tools for Current Server`) and share any error you might be getting in there?

[2020-08-19 04:35] harshilsharma63 commented on #187
@mthld thanks a lot for the bug report ✌️! I'm successfully able to reproduce this bug. I'll work on this one.

[2020-08-19 04:37] TimIMC commented on #188
I just talked to my colleagues and they found that changing the address to the server from an alias to another helped.  It must have been blocking the alias.

[2020-08-19 04:37] #188 closed

[2020-08-20 00:46] harshilsharma63 commented on #188
@TimIMC glad it's resolved for you!

[2020-08-21 02:09] harshilsharma63 commented on #187
@mthld this is now fixed in [v3.0.1](https://github.com/standup-raven/standup-raven/releases/tag/v3.0.1). Please try it out.

[2020-08-21 02:09] #187 closed

[2020-08-21 07:17] jprusch opened #191 "BUG - Upgrade from 3.0.0 to 3.0.1 fails"
**Summary**
An upgrade from 3.0.0 to 3.0.1 fails. Errors are logged.

**Steps To Reproduce**
Steps to reproduce the behavior:
1. Download release 3.0.1
2. Go to Plugins
3. Click on upload & select downloaded file for release 3.0.1
4. Upload the plugin
5. Overwrite existing version

**Expected behavior**
New plugin version is installed

**Observed Behavior**
Plugin cannot be updated. Errors are log

[2020-08-21 07:19] harshilsharma63 commented on #191
@jprusch I'm working on this one. Thanks for the bug repot!

[2020-08-21 20:00] shieldsjared opened #192 "BUG - Plugin causes MM LHS Channel Menu to scroll"
**Summary**
When this plugin is enabled, it causes the new channel menu on the experimental sidebar to fail to render properly. Scrollbars appear. This issue was initially posted in [MM as a bug](https://github.com/mattermost/mattermost-server/issues/15322), and then after discovering it was related to this plugin, I closed it there and re-opened here.

**Steps To Reproduce**
Steps to reproduce th

[2020-08-24 14:53] harshilsharma commented on #128
@Moyni84 @bobchao @helperkeys @negbie @urba1n Apologies for not updating here.

I'm super excited to announce that this feature is now done and ready 🎉🎉🎉. Not only have we introduced weekly configurable standups but also monthly standups - on first weekday, last Monday, etc.

The feature is part of v3 release so please try it out and as usual, let us know any feedback you have.

Consider subscribi

[2020-08-24 14:55] harshilsharma63 commented on #128
@Moyni84 @bobchao @helperkeys @negbie @urba1n Apologies for not updating here.

I'm super excited to announce that this feature is now done and ready 🎉🎉🎉. Not only have we introduced weekly configurable standups but also monthly standups - on first weekday, last Monday, etc.

The feature is part of v3 release so please try it out and as usual, let us know any feedback you have.

Consider subscribi

[2020-08-24 18:41] mthld commented on #187
Hello @harshilsharma63,

Thanks for your work, however I know face the following error:
[code]

Is it somewhat related to #191?

[2020-08-24 23:33] Moyni84 commented on #128
Thank you so much. I spotted this yesterday and have put in a request to upgrade to this version. I shall let you know how it goes.

[2020-08-25 02:57] harshilsharma63 commented on #187
@mthld yes, that's the same as #191 . This will be fixed today.

[2020-08-25 03:09] harshilsharma63 commented on #191
I have started on this.

[2020-08-25 06:39] harshilsharma63 commented on #192
@shieldsjared this has been fixed in [v3.0.2](https://github.com/standup-raven/standup-raven/releases/tag/v3.0.2). Feel free to re-open the issue if you still face the problem.

[2020-08-25 06:39] #192 closed

[2020-08-25 06:40] harshilsharma63 commented on #191
@jprusch  this has been fixed in [v3.0.2](https://github.com/standup-raven/standup-raven/releases/tag/v3.0.2). Feel free to re-open the issue if you still face the problem.

[2020-08-25 06:40] #191 closed

[2020-08-25 06:41] #128 closed

[2020-08-25 12:01] shieldsjared commented on #192
Looks good! Thanks so much @harshilsharma!  FYSA - tried to send you a coffee the other day, but got an error that international transactions were not supported/enabled.  Thanks again for the great plugin :)

[2020-08-25 12:20] harshilsharma63 commented on #192
@shieldsjared thanks! Can you tell where did you get the error on? I may have to enable something for that.

[2020-08-25 12:23] shieldsjared commented on #192
@harshilsharma63

https://www.buymeacoffee.com/harshilsharma63

**Error Message**
[code]

[2020-08-26 15:07] harshilsharma63 commented on #192
@shieldsjared it's an issue with Stripe. I've disabled it for now until its resolved. Until then maybe you can try out via PayPal?

Thank you for the support ✌️

[2020-08-26 20:46] harrisyn commented on #155
I was about to create an issue and found this existed already.
I think it would be a great feature to add.

[2020-08-27 19:58] dmatz commented on #172
I was able to successfully install and configure version 3.0.2, so this is no longer an issue, and thus I'm closing it out.

[2020-08-27 19:58] #172 closed

[2020-08-27 23:39] harshilsharma63 commented on #172
@dmatz perfect! Thanks for confirming!

[2020-08-30 09:44] harshilsharma63 commented on #183
No worries @absynth47215 !

[2020-08-30 11:16] harshilsharma63 commented on #183
@absynth47215 this will be released as part of v3.1.0.

We now have full markdown support in section titles so one can go nuts ✌️

Emoji example -

<img width="551" alt="Screenshot 2020-08-30 at 4 43 53 PM" src="https://user-images.githubusercontent.com/8211068/91657616-ffe49b00-eadf-11ea-921d-743714c26221.png">

You can even use images -

<img width="551" alt="Screenshot 2020-08-30 at 4 44 42 PM"

[2020-08-30 11:18] #183 closed

[2020-08-30 14:38] harshilsharma63 commented on #151
Hi @hanzei . Can you guide on what needs to be done to get the code review started? While the code review will be under progress, I'll work on other requirements of submitting to Marketplace.

[2020-09-03 22:52] hanzei opened #196 "BUG - Can't build plugin using Go 1.15"
**Summary**
A one-line description of what the bug is.

**Steps To Reproduce**
Steps to reproduce the behavior:
1. Install `go 1.15`
2. Clone this repo
3. Run `make dist`

**Expected behavior**
Plugin is build without an error.

**Observed Behavior**
Build fails with: `Stderr: plugin.go:8:2: cannot find package "github.com/getsentry/sentry-go" in any of:`

**Logs**

<details>
<summary>Details</sum

[2020-09-04 00:55] harshilsharma63 commented on #196
@hanzei I'll work on this.

[2020-09-11 19:22] dmatz opened #198 "PROPOSAL - More flexible report options"
**Is your feature request related to a problem? Please describe.**
My team finds the limited reporting options a bit of a hassle.  A team member just got back from vacation, and rather than view standup reports day by day, it would be much easier to view a group of reports.  Another team member was wanting to view his reports for the week to determine if he had reported an issue but had to go thro

[2020-09-12 04:15] harshilsharma63 commented on #198
@dmatz thank you for the feature proposal.

This is definitely useful and something many users have mentioned. There's another similar feature request of summarized weekly reports. But I think the same can be adapted for any arbitrary date range. I also like your idea of slash commands.

In an error to understand your use case for reports, I think you're looking for an aggregated report rather tha

[2020-09-15 06:27] jprusch opened #199 "BUG - Plugin cannot be started after upgrade to 3.1"
** After upgrading to 3.1 the plugin cannot be started **

**Expected behavior**
Plugin gets started

**Observed Behavior**
Error message is shown in Mattermost GI system console

**Environment**
-  Mattermost version: 5.26.0
-  OS: Linux Debian
-  Platform:  Windows Desktop App 4.5.3
-  Previous plugin: 3.0.2 (Runs after downgrade from 3.1)

[2020-09-15 14:25] harshilsharma63 commented on #199
@jprusch yeah, my bad, Will be releasing a new build in an hour.

[2020-09-15 14:43] harshilsharma63 commented on #199
@jprusch This is resolved in [v3.1.1](https://github.com/standup-raven/standup-raven/releases/tag/v3.1.1).

[2020-09-15 14:43] #199 closed

[2020-09-17 15:22] shieldsjared opened #200 "PROPOSAL - Delete CURRENT DAY report when regenerating CURRENT DAY report"
**Is your feature request related to a problem? Please describe.**
While we have a deadline set on our standup, many folks get caught up in the day and miss the deadline. We first tried re-emphasizing the importance of submitting it on-time, but eventually found that our reports got more participation when we told folks "Hey, if you miss the deadline, still go in and do it, then issue the slash co

[2020-09-21 02:05] harshilsharma63 commented on #196
@hanzei give it a try now. I've set the right Go version in Go module file. It builds fine now.

[2020-09-21 08:53] hanzei commented on #196
Works fine now, thanks for the fix @harshilsharma63 :+1:

[2020-09-21 19:49] dmatz commented on #198
Here's an example of the file I pulled this week:  https://docs.google.com/document/d/e/2PACX-1vSYxQb4c6KAgMCz5O7SnNin7unfypI5bUxNMfEuYThPKJHwY9rg4yLPtJvDk6OuX_ZE-JbgV7giKtCb/pub

That's not my ideal form for this, but it lets us generate our report to management.  Even generating something like that from the tool would be a great first step and save a bunch of work copying and pasting reports.

[2020-09-23 08:10] dutsky opened #202 "BUG - Upgrade from 3.0.X to 3.1.X fails"
**Summary**
Can't upgrade plugin from 3.0.X to 3.1.X, but upgrading from 3.0.0 to 3.0.2 works fine

**Steps To Reproduce**
Steps to reproduce the behavior:
1. Go to System Console
2. Click on Plugin Management
3. Press "Choose File" in Upload plugin menu
4. Select `mattermost-plugin-standup-raven-v3.1.1-linux-amd64.tar.gz` and press "Upload"
4. See error "Received invalid response from the server"

[2020-09-29 07:32] ashfaqn opened #203 "BUG -"
**Summary**
Unable to configure standup in a new or existing channel

**Steps To Reproduce**
Steps to reproduce the behavior:
1. Uploaded mattermost-plugin-standup-raven-v3.1.1-linux-amd64.tar.gz via System Console in mattermost
2. Enabled the standup-raven plugin
3. Go to a channel
4. Enter a custom slash command '/standup config'
5. See error

**Expected behavior**
Following this url https://git

[2020-09-30 01:50] harshilsharma63 commented on #203
Hi @ashfaqn have you tried refreshing the bwowser/app after upgrading the plugin?

Also, do you see any errors in Mattermost logs or the browser console?

[2020-09-30 06:07] ashfaqn commented on #203
I had refreshed the browser and restarted mattermost as well but in vain.
In mattermost.log file, I have found the following lines but not sure if those would be helpful:

{"level":"dpanic","ts":1601299600.3168046,"caller":"zap@v1.15.0/sugar.go:191","msg":"Ignored key without a value.","plugin_id":"standup-raven","ignored":"Couldn't parse integer in old config work week start, defaulting to using

[2020-10-01 13:40] #196 closed

[2020-10-06 02:31] harshilsharma63 commented on #203
@ashfaqn those logs are fine and not the cause of this error. I suspect it to be an issue with the webapp-based slash commands in Mattermost itself. I suppose the command `/standup` is also not working for you? It should open up a dialog.

[2020-10-06 02:33] harshilsharma63 commented on #202
@dutsky you should be seeing some error messages in Mattermost logs when you activate the plugin. Can you share those?

[2020-10-06 10:31] dutsky commented on #202
what do you mean by "activate"? Logs when I disable/enable the plugin:
[code]

When I press "upload" button nothing writes in the logs and UI shows an error: "Received invalid response from the server"

[2020-10-06 23:11] harshilsharma63 commented on #202
@dutsky to clarify, this is what happens on a successful upload -

1. Upload gets completed successfully
2. You  get this popup asking confirmation for replacing the existing plugin
<img width="480" alt="Screenshot 2020-10-07 at 4 38 08 AM" src="https://user-images.githubusercontent.com/8211068/95269385-e826d200-0856-11eb-87e5-84e865fa9c97.png">
3. The plugin gets upgraded and enabled.

I believe

[2020-10-07 00:01] dutsky commented on #202
When I uploading "mattermost-plugin-standup-raven-v3.0.2-linux-amd64.tar.gz" I'm getting this popup confirmation("overwrite existing plugin"), but when I trying to upload "mattermost-plugin-standup-raven-v3.1.1-linux-amd64.tar.gz" i'm still getting error: "Received invalid response from the server."
Logs shows nothing even at DEBUG level and if it's server issue, why uploading 3.0.2 works fine? 🤔

[2020-10-07 00:16] harshilsharma63 commented on #202
@dutsky Starting v3.1.x, we only support Mattermost versions 5.25.0 and above. That's why it's giving you an error.

[2020-10-07 00:17] dutsky commented on #202
We upgraded Mattermost installation to 5.27.0, but it didn't help.

[2020-10-07 00:18] harshilsharma63 commented on #202
Ah, I see you're facing this issue with 5.27 as well. Can you share the logs generated between the moment you upload the plugin and you get the error? You can share to me directly over email to avoid any privacy issue.

[2020-10-07 00:19] harshilsharma63 commented on #202
We can also hop on a quick call if that would be helpful.

[2020-10-07 00:32] dutsky commented on #202
Nevermind, it was reverse proxy settings issue. Sorry for the inconvenience.

[2020-10-07 00:32] #202 closed

[2020-10-07 07:36] ashfaqn commented on #203
@harshilsharma63 yes when I run `/standup` I get

Have I missed configuring anything?

[2020-10-08 07:00] cadavre opened #204 "PROPOSAL - What happened to the schedule?"
**Is your feature request related to a problem? Please describe.**
No all stand-ups happens daily. It would be great to have a way to configure schedule for stand-ups.

**Describe the solution you'd like**
I like the solution that is documented in README:
<img width="1135" alt="config-schedule" src="https://user-images.githubusercontent.com/461796/95425574-c6a41400-0944-11eb-9443-c16577a9cd8d.png"

[2020-10-09 10:33] negbie commented on #203
We ran into kinda same issue. Browser cache was cleared. Dev console shows this:

Uncaught (in promise) TypeError: Cannot read property 'enableErrorReporting' of null
    at StandupRavenPlugin._callee$ (standup-raven_7f8cf1253f8dfbb2_bundle.js:52833)
    at c (/static/5.e1943b1620914a1863b7.js:42)
    at Generator._invoke (/static/5.e1943b1620914a1863b7.js:42)
    at Generator.forEach.e.<computed>

[2020-10-10 04:27] harshilsharma63 commented on #204
@cadavre the feature you mentioned in the screenshot is already implemented in Standup Raven v3 and above. Can you verify if you're on the right plugin version?

[2020-10-10 04:29] harshilsharma63 commented on #203
@negbie thanks for the error log. Will resolve that.

[2020-10-10 04:45] harshilsharma63 commented on #203
@ashfaqn hmm, I think we'll have to revert one change we did a while back when we moved certain slash commands from the server to the webapp. That will stabilise it back.

Are you able to run `/standup viewconfig` BTW?

[2020-10-10 05:17] harshilsharma63 commented on #200
@shieldsjared that's a very valid scenario. I wonder how good this combined with #94 would be. Thoughts?

cc - @skyscooby

[2020-10-10 12:04] shieldsjared commented on #200
@harshilsharma63 - Yeup! Definitely along the same lines! In fact, I’d probably say that #94 is most accurate, and explicit report generation should remain untouched. If you agree, we can close this one out :)

[2020-10-10 13:58] harshilsharma63 commented on #203
@ashfaqn please try out the beta build - [v3.0.2](https://github.com/standup-raven/standup-raven/releases/tag/v3.2.0). It should resolve this issue.

[2020-10-10 17:25] skyscooby commented on #200
@harshilsharma63 Yup I agree seems like a very similar workflow issue.

While I am no Golang programmer I feel like adding this type of thing shouldn't be too difficult.. a good enough solution might just be to check if the scheduled report posting is enabled and then check if the user report submit time is after the scheduled time but less than the next day.. I guess it might require defining whe

[2020-10-10 19:39] shieldsjared commented on #200
@skyscooby @harshilsharma63 - I'm going to close this issue since it overlaps quite significantly w/ #94 (which would solve the use case that made me submit this).

[2020-10-10 19:39] #200 closed

[2020-10-10 19:43] shieldsjared commented on #94
@harshilsharma63 - I'm happy to submit a PR for this issue :) Do you have a preference on how we go about this?  There are a few options on the table:

1. Updating existing report
- Perhaps edit the existing report, and then _reply to_ it with something like "Report has been updated by @username" (the reply would satisfy @skyscooby's request, and by using a reply it'll notify users of the change)

[2020-10-11 08:00] ashfaqn commented on #203
@harshilsharma63 I uploaded v3.2.0, afterwards when I ran **/standup config** and **/standup viewconfig** I got the following messages respectively

`Configure your standup in the open modal!`

`Standup not configured for this channel`

[2020-10-11 11:32] harshilsharma63 commented on #203
@ashfaqn for `/standup config` did the configuration dialog open up this time?

[2020-10-11 11:33] harshilsharma63 commented on #203
`Standup not configured for this channel` is correct for `/standup viewconfig` if there is no standup configured for current channel.

[2020-10-11 11:33] ashfaqn commented on #203
No, it didn't

[2020-10-13 07:02] negbie commented on #203
@ashfaqn this is an open source project, so please stop to spam the maintainer! Just watch this issue patiently and try to help as good as you can!

[2020-10-13 23:56] harshilsharma63 commented on #204
@cadavre Hi! I'm closing this ticket as the functionality is already implemented and released. Feel free to re-open if you're unable to see the new features.

Thanks!

[2020-10-13 23:56] #204 closed

[2020-10-13 23:59] harshilsharma63 commented on #203
@ashfaqn the v3.0.2 should have fixed it as we reverted the change which caused the bug. If after using the [v3.0.2](https://github.com/standup-raven/standup-raven/releases/tag/v3.2.0) and following basic steps such as a hard reload in your browser, logging out and logging in don't work, let's hop on a quick call and resolve this.

[2020-10-14 00:01] harshilsharma63 commented on #203
@negbie thanks there! It's fine though as I really would like to solve this 😄

[2020-10-14 00:04] harshilsharma63 commented on #203
@ashfaqn please feel free to ping me on hello at standupraven.com and we can have a call.

[2020-10-14 06:06] cadavre commented on #204
Hi, thanks for letting know! I installed plugin officially provided by Mattermost Plugin Store and there's version... 2.something. Updated with latest release from Github, ale there it is. Thanks and sorry for hassle. :)

[2020-10-14 14:12] #203 closed

[2020-10-15 14:24] negbie commented on #174
@harshilsharma I think there was no specific use case. We had something like this too. We started out with one subdomain during testing and moved to another for prod. Since the testers had already bookmarked the first subdomain we maintained two domains too.

[2020-10-20 07:58] St333p opened #207 "PROPOSAL - allow more flexible timeframe to fill standup"
**Is your feature request related to a problem? Please describe.**
Some of my team members got used to fill the standup as "last task of the day before" instead of doing it in the morning. For example, they do it Monday night for Tuesday.

This allows them to use it both as a sum-up of the day and as a TODO list for the next one, for which they receive a report in the morning to get a clear start.

[2020-10-21 01:14] harshilsharma63 commented on #207
@St333p thanks for suggesting the feature!

Did I get this right that some team members want to fill standup at end of the day while other members on the same team want to fill it in the morning next day?

[2020-10-21 06:42] St333p commented on #207
Yes, exactly.

[2020-10-21 15:19] harshilsharma63 commented on #207
@St333p this sounds useful and I believe a few other users have also asked for this feature.

Would you be open to work on this one?

[2020-10-22 06:50] St333p commented on #207
I'm not an expert developer, in particular I don't have any experience neither with Go nor Js, I really don't think I'm suitable for the task, sorry.

[2020-10-23 00:18] harshilsharma63 commented on #207
@St333p No worries mate!

[2020-10-26 19:21] popey456963 opened #208 "BUG - Unable to compile on go 1.15.3"
**Summary**
Unable to compile, getting "rrule.RRule has no field or method x"

**Steps To Reproduce**
Steps to reproduce the behavior:
1. Install Go 1.15.3
2. Try to `go get` the module

**Expected behavior**
It compiles

**Observed Behavior**
It errors

**Environment**
-  Golang 1.15.3

[2020-10-26 19:22] popey456963 commented on #208
Error:

[code]

[2020-10-27 23:23] harshilsharma63 commented on #208
@popey456963 I suppose you're trying to fetch code for building? If so, can you try simply pulling the code via git? The go get command may fail and I need to update documentation for that.

[2020-10-30 22:42] popey456963 commented on #208
I'm really sorry, I don't generally use Golang.  I can `git clone` the code, but then not sure what to do beyond that.

[2020-10-30 23:30] harshilsharma63 commented on #208
@popey456963 I suppose you're trying to compile the project. The developer documentation is slightly out of date. Let me update this today.

[2020-10-31 23:58] harshilsharma63 commented on #208
@popey456963 I've updated the developer guide. You'll be able to build the project following it - https://github.com/standup-raven/standup-raven/blob/master/docs/getting_started.md

[2020-11-01 11:27] popey456963 commented on #208
Fantastic, that works like a charm! 👍

[2020-11-01 11:27] #208 closed

[2020-11-09 01:05] harshilsharma2 opened #210 "Chore Automation"
Automate the following chore tasks-

- [ ] Updating plugin version for next release on a release.

[2020-11-09 01:09] harshilsharma63 opened #211 "Optimise local build time to reduce time to test changes"
Local build times can be reduced locally by a series of steps-

- [ ] Build the webapp component if and only if a.) webapp component isn't already built, b.) there is a change in webapp component's source code after the last build.
- [ ] Build the server component if and only if a.) server component isn't already built, b.) there is a change in server component's source code after the last build.

[2020-11-09 13:52] AadityaPatanjali opened #212 "Bug: Raven thinks it's a day behind after daylight savings started"
We have Raven set up daily, every weekday, EST. Raven did not show up on Friday, but notified everyone on Sunday to fill their standup.

Config:
App version: 1.36.0 build 330
Server version: 5.27.0
Database: postgres

[2020-11-09 14:57] yeedog commented on #212
I have this issue as well.   We didn't get a report on Friday and there were notifications today that nobody entered standup on Nov 8th, which was a Sunday.

I'm not sure how to determine what version I have installed or I would post that as well.

[2020-11-09 23:26] harshilsharma63 commented on #212
@AadityaPatanjali @yeedog can you verify that you have the right timezone selected in chanel standup configuration?

[2020-11-10 00:21] AadityaPatanjali commented on #212
Yes, I have the right timezone selected. America/New_York

[2020-11-10 00:49] harshilsharma63 commented on #212
@AadityaPatanjali can you tell what time you have the standup window configured for and what time you received the notification?

[2020-11-10 01:02] harshilsharma63 commented on #212
@yeedog regarding determining the pluign version installed, if you have system console access, you can navigate to `System Console` > `Plugin Management` and see the version of all plugins installed-

<img width="492" alt="Screenshot 2020-11-10 at 6 31 13 AM" src="https://user-images.githubusercontent.com/8211068/98614391-56f7bf00-231e-11eb-98da-e5fc914cee2f.png">

[2020-11-10 01:40] AadityaPatanjali commented on #212
Standup configured for 10:15 and the report was generated on Sunday, at 10:15
![image](https://user-images.githubusercontent.com/7988005/98616904-c3959e00-22cb-11eb-9e7f-c58168145e59.png)

[2020-11-10 02:16] harshilsharma63 opened #213 "Beautify timezone display values"
There are a lot of underscores in timezone display names in the timezone dropdown. These should be spaces instead, to make them look prettier.

[2020-11-10 02:23] harshilsharma2 opened #214 "Bug: Fix close button background color in standup configuration dialog"
Fix close button background color in standup configuration dialogue. verify it looks fine for all standard Mattermost themes.

[2020-11-10 02:27] harshilsharma63 commented on #212
@AadityaPatanjali are you in the same timezone (America/New York)? If not can you tell your timezone as well?

For the standup you filled on Friday, can you try running the command `/standup report Private <DD-MM-YYYY>` for one Thursday's and Saturday's date? I'm sure that standup will show up in one of those two dates.

[2020-11-10 03:27] AadityaPatanjali commented on #212
Yes, I am in the same time zone.
And of course people filled the standup on Friday and it shows up. We called it manually that day. And both Saturday and Sunday, it shows up as no user submitted the standup, because no one did.

[2020-11-10 03:27] AadityaPatanjali commented on #212
Same for Thursday

[2020-11-10 03:36] AadityaPatanjali opened #215 "BUG - Raven does not show up consistently"
Raven does not show up all the time on the browser window.

**Steps To Reproduce**
1. Login to the https mattermost link on web browser (doesn't matter which one)
2. Raven does not show up
3. In the browser window, change to http://
4. See that the browser fails to go to the site
5. In the same window, go back to the https link
6. See Raven

**Environment**
-  Mattermost version: 5.27.0
-  OS: Ind

[2020-11-10 15:47] yeedog commented on #212
I don't have system console access so I cannot see what version I am running. I'll try to message IT and see if they can tell me.

I ran `/standup report <DD-MM-YYYY> Private ` for Thursday though Monday and I got all of the correct data on the correct day.  Saturday and Sunday correctly displayed no users submitted information.  Monday somebody was on vacation and it reported that X didn't submit

[2020-11-10 15:52] yeedog commented on #212
It got back to me quick.  here is the version of the plugin ...

![image](https://user-images.githubusercontent.com/36611814/98697370-d8614880-2342-11eb-9a8f-01d2ed5b5b52.png)

[2020-11-16 02:49] harshilsharma63 commented on #215
@AadityaPatanjali The Raven icon shows up only in channels where a standup is configured. To check this we make an API call when you switch the channel. It may happen that this API call takes some time while Mattermost itself is loading the channel messages and other data. Did you try waiting for a few seconds after loading Mattermost to get the Raven icons up?

[2020-11-16 02:57] harshilsharma63 commented on #212
@yeedog would you mind restarting the plugin?

[2020-11-16 03:47] AadityaPatanjali commented on #215
@harshilsharma63 Raven is configured in the channel I am viewing. This bug is reproducible on my account across multiple devices, consistently. I have tried waiting. It doesn't help.

[2020-11-16 16:10] yeedog commented on #212
It looks like it is working fine for me now.   On Friday the report was posted correctly and I didn't see on on Sunday.  The only thing I can think of is that I went to edit the config and saved it again last week without changing anything.

I don't know if this fixed it or it was a one week issue.

[2020-11-16 20:44] AadityaPatanjali commented on #212
@yeedog that's interesting. I did see the same thing I did last week.
I'll try editing the config and saving it without changing anything.

[2020-11-16 21:27] grubbins opened #216 "BUG - Plugin crashes with SEGV after upgrade to 3.x"
**Summary**
On versions 3.1.1 and also latest code, the plugin reliably crashes with a nil pointer dereference not long after starting.

**Steps To Reproduce**
0. Mattermost version 5.27.1 with many standups configured for channels
1. Upgrade standup raven from 2.5.2 to 3.1.1 or current head
2. Disable and re-enable plugin
3. Wait for it...
4. Read stacktrace of SEGV in logs
5. Repeat from step 2

[2020-11-16 21:34] grubbins commented on #216
The panic always seemed to occur at the same point - fetching standup config for channel with id `tass9ycqbfrrdp4ms34z834wac`. I don't know how to inspect the standup config of that channel to see what's wrong, but I think this means I can at least reproduce the problem.

[2020-11-18 09:52] Grienauer opened #217 "PROPOSAL - allow not configured users to submit also their standup"
**Is your feature request related to a problem? Please describe.**
Currently it is just possible for users which are added to the standup of the channel to submit their standup.

**Describe the solution you'd like**
I would like to have a configuration per channel, which also allows other users to submit a standup, even if they are not added to the standup config of the channel
e.g.: "allow all us

[2020-11-23 00:48] harshilsharma63 commented on #217
@Grienauer very interesting point and very interesting solution! I'm sure there are other users who face the same issue and this feature would be beneficial to them.

Would you be interested in working on this?

[2020-11-23 01:59] harshilsharma63 commented on #216
@grubbins it looks like the data migration didn't go through well for. Can you see the logs for the time when you updated from 2.5 to 3.1?

[2020-11-23 02:01] harshilsharma63 commented on #215
@AadityaPatanjali try the following steps, please -

1. Verify that your `SiteURL` is set correctly in Mattermost configuration.
2. Open a new tab, open browser console, open Mattermost in this tab. You should see some errors regarding websocket connection failing. Can you share these errors?

[2020-11-23 02:11] grubbins commented on #216
I'm looking, but not finding anything that looks relevant. Would it have required debug-level logs? We did not have debug logs enabled at the time of the upgrade.

[2020-11-23 02:16] grubbins commented on #216
Looking further back, I see occasional instances (before we upgraded) of:
[code]
and sometimes randomly this:
[code]

[2020-11-23 16:01] AadityaPatanjali commented on #215
I will get back to you regarding the SiteURL.

Is this is the error you're looking for? There are a few more -
Uncaught (in promise) TypeError: pluginConfig is null
    _callee$ index.jsx:18
    c runtime.js:45
    _invoke runtime.js:274
    t runtime.js:97
    step standup-raven_7f8cf1253f8dfbb2_bundle.js:52805
    step standup-raven_7f8cf1253f8dfbb2_bundle.js:52805

This error goes away when the

[2020-11-23 16:35] AadityaPatanjali commented on #215
The SiteURL is correctly configured to the https version of the site.

[2020-11-25 06:01] eyebank commented on #207
Hi
i'd like to jump on this and request the ability to schedule standups at 8 am, 4pm and midnight - we have 3 shifts per day.
thanks

[2020-11-25 06:06] eyebank commented on #154
abillity to schedule multiple standup reminders per day to allow for a 24 hour operation with staff arriving at different times of the day

[2020-11-25 06:07] eyebank commented on #95
+1

[2020-11-25 08:36] christiansoe commented on #203
This seems to be unresolved. I am using mattermost 5.29.0 and latest plugin of 3.1.1.
I tried to open the console and it shows this error. still trying to figure out what causes this problem.

![image](https://user-images.githubusercontent.com/2566983/100202511-bec81f80-2f44-11eb-9199-8e1a8d9028d0.png)

[2020-11-25 14:24] Grienauer commented on #217
sorry @harshilsharma63, I am not a programmer ;)

[2020-11-25 14:34] harshilsharma63 commented on #217
@Grienauer Ah okay!

[2020-11-25 17:24] christiansoe commented on #203
I solved the problem. For the problem was that I didn't add :8065 to the site URL in the system console. I was using http://x.x.x.x
Changed it to http://x.x.x.x:8065

[2020-11-25 21:57] eyebank opened #218 "PROPOSAL - add option to complete and publish standup publicly to channel immediately - one step"
**Is your feature request related to a problem? Please describe.**
it appears user needs to complete standup and then
post standup publicly

**Describe the solution you'd like**
One step process where user completes and can publish standup (publicly) in one step.

**Describe alternatives you've considered**
Step 1) issue command /standup
Step 2) complete standup
Step 3) issue command ) /standup re

[2020-11-25 22:06] eyebank opened #219 "PROPOSAL - Set multiple standup reminders attached to per user/member"
**Is your feature request related to a problem? Please describe.**
As i understand the schedule feature, there is only one schedule range and it is applied globally.

**Describe the solution you'd like**
i would like more control to the schedule based on user/member. basically if a user starts at 4pm id like that user to fill in his stasndup within the 1st 15 minutes. the same for an 8 am start an

[2020-11-26 00:15] harshilsharma63 commented on #95
@eyebank are you on the latest version of the plugin and still facing the error?

[2020-11-26 00:17] harshilsharma63 commented on #207
@eyebank I understand your use case. We'd pick this up sometime in the future. For now, you can have three channels - one for each shift.

[2020-11-26 15:26] patrickcaspeco opened #220 "PROPOSAL - possibility to write next day standup"
**Is your feature request related to a problem? Please describe.**
Our team usually writes our stand ups in the early mornings. The last thing we do everyday is to plan tomorrow's tasks.
I, for example, have to write them down in a notepad first and then copy it in to the Raven bot next morning.

**Describe the solution you'd like**
You could have a checkbox next to the the window time frame setti

[2020-11-27 00:32] harshilsharma63 commented on #220
@patrickcaspeco thanks for the feature request. This is the same solution we arrived for #16.

[2020-11-27 00:35] harshilsharma63 commented on #219
@eyebank thanks for the feature recommendation. Unfortunately, per-user level standup scheduling is out of the core idea and scope of this project.

I propose this alternate approach - set up standup range as 12:00 AM to 11:59 PM. That way, anyone can submit their standup whenever they want across the day and there will be one, aggregated report for the day at the end of the day.

[2020-11-27 00:35] #219 closed

[2020-11-27 00:37] harshilsharma63 commented on #218
post standup publicly

You need to do this only if the standup was submitted _after_ the standup window closed. Any standup submitted before the window end time is part of the automatic report. Is this what's happening in your case?

[2020-11-27 05:31] patrickcaspeco commented on #220
Ah ok. Awesome :)
I will close this one.

[2020-11-27 05:31] #220 closed

[2020-11-29 07:13] grubbins commented on #216
With a local build of the plugin I was able to print the JSON of the standup `Config` for one of the breaking channels:
[code]

Indeed the fields `rrule`, `rruleString` and `startDate` are absent but are assumed later to be present. Just looking into whether I can make a quick fix.

[2020-11-29 07:25] grubbins commented on #216
I think I will try forcing the database version back to 2.0.0 and letting it try the upgrade again.

[2020-11-29 07:33] grubbins commented on #216
That seems to have worked. I wonder if the issue here is that the plugin was downgraded at some point.

[2020-11-29 11:35] #210 closed

[2020-11-30 09:38] jprusch opened #229 "BUG - Plugin doesn't start after upgrade to 3.2.0"
**Steps To Reproduce**
Steps to reproduce the behavior:
1. Download latest 3.2.0 release for linux
2. Upgrade the plugin via system console -> plugins -> upload
3. Overwrite existing version
4. Error message: Plugin could not be started after upgrade

**Expected behavior**
Plugin is started

**Observed Behavior**
Logged message:
2020-11-30T10:29:34.184+0100    error   mlog/log.go:229 Unable to res

[2020-11-30 14:35] eyebank commented on #229
I can confirm version 3.2.0 does not launch.
We rolled back to 3.1.1.

[2020-11-30 15:09] eyebank commented on #218
Thank you @harshilsharma63. I didn't realize there was an automatic publish within the window. Regardless, I will train staff to use the two commands if outside the window.

Thanks for all you do on this project.

[2020-11-30 15:11] eyebank commented on #215
We are on 3.1.1 we also noticed (inconsistently) for some users the slash commands fail and/or the raven icon does not appear. I would need to disable and reenable plugin for the those users to use the slash command,

Thanks

[2020-12-01 03:48] harshilsharma63 commented on #215
@AadityaPatanjali if you check the network tab in your browser console, you'll see an XHR request being made to `/plugins/standup-raven/plugin-config`. Can you verify this request goes through correctly? If so, what response do you receive?

If it still doesn't resolve, let's hop on a quick call and I'll be happy to see what's the issue. Feel free to email me at hello at standupraven dotcom anytim

[2020-12-01 03:50] harshilsharma63 commented on #215
@eyebank that shouldn't happen if there isn't any WebSocket connection issue. I'd be more than happy to debug this with you. Feel free to email me at hello at standupraven dotcom anytime and we'll hop on a quick call and see what's the issue.

[2020-12-01 03:52] harshilsharma63 commented on #218
@eyebank Yes, you'll need t manually publish the report only if you want it before or after the window close time.

Glad it worked out!

[2020-12-01 03:52] #218 closed

[2020-12-01 23:27] AadityaPatanjali commented on #215
Ah. It looks like the response of plugin-config was - "To use Mattermost, please enable JavaScript"
Here's the full response, in case you need it -
[code]

However, when I queried the http link, and went back to the https link, I got the correct response
`{"timeZone":"America/New_York","permissionSchemaEnabled":false,"enableErrorReporting":false,"plugin_version":"3.1.1","botUserId":"","location":n

[2020-12-01 23:33] AadityaPatanjali commented on #215
Another related error in the console -
[code]

[2020-12-03 13:17] harshilsharma63 commented on #229
@jprusch @eyebank this will be resolved today.

[2020-12-03 14:39] harshilsharma63 commented on #229
@jprusch @eyebank Re-download the plugin from GitHub release once again and run that. The new ones will work fine.

[2020-12-03 19:11] eyebank opened #230 "BUG - 3.2.0 missing feature offered in 3.1.1"
**Summary**
I appreciate your work:

Problem:
1) in 3.2.0 the command: /standup report public does not work. a hint states must be in proper format DD-MM-YYYY
2) in 3.1.1 the command: /standup report public will display your report immediately without adding date.
Please consider bringing back 3.1.1 standup report public functionality.
3) the raven icon is missing from header in channel.

I have r

[2020-12-04 13:45] harshilsharma63 commented on #229
@jprusch @eyebank did you get a chance to try it?

[2020-12-04 13:52] jprusch commented on #229
Thx, works! Great job!

[2020-12-04 13:53] harshilsharma63 commented on #229
@jprusch Awesome. It was a bug in plugin bundling logic which left out the server executables.

[2020-12-04 13:53] #229 closed

[2020-12-08 02:02] harshilsharma63 commented on #230
@eyebank yeah, I guess the old defaults were simpler. Will restore those in the next release.

[2020-12-08 02:03] harshilsharma63 opened #231 "Fix makefile optimisations causing incorrect artefacts being generated"

[2020-12-08 03:16] #231 closed

[2020-12-15 03:00] harshilsharma63 opened #235 "Handle guest users"
Guest users shouldn't be allowed to do the following actions -

1. [x] Adding users to the channel standup.
1. [x] Removing users from the channel standup.
1. [x] Adding Standup Raven to a new channel.
1. [x] Editing channel standup configuration.

[2020-12-15 03:01] harshilsharma63 opened #236 "Return username instead of user ID when adding user to standup fails"

[2020-12-17 14:41] eyebank opened #237 "BUG - Issued Command "/standup report public [DATE]" does not post publicly"
System
09:35(Only visible to you)
Submit your standup from the open modal!

System
09:36(Only visible to you)
Standup reports generated

System
09:37(Only visible to you)
Configure your standup in the open modal!

System
09:38(Only visible to you)
Standup reports generated

System
09:40(Only visible to you)
Standup reports generated

[2020-12-19 13:48] the02 opened #238 "BUG - Icon missing in desktop app"
**Summary**
Configured Raven for a Channel. Opening this channel in any browser shows the raven icon in the top bar. In the desktop app there is space reserved, but no icon shown

Mattermost Version: 5.27.0
Database Schema Version: 5.27.0
Database: mysql

Desktop app version 4.6.1 on Arch

**Steps To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '

[2020-12-19 14:04] harshilsharma63 opened #239 "Fix bug where system users (non-admins) cannot see slash command autocomplete"

[2020-12-20 00:55] harshilsharma63 opened #241 "BUG - Raven channel header icon doesn't show up in Mattermost desktop app"
**Summary**
Raven channel header icon doesn't show up in Mattermost desktop app.

**Steps To Reproduce**
Steps to reproduce the behaviour:
1. Go to any channel where Standup Raven is enabled or enable it in any channel.
2. Open the channel in desktop app.
3. Notice the raven channel icon takes the space but the Standup Raven logo doesn't appear.

**Expected behavior**
Standup Raven channel header

[2020-12-20 04:40] #239 closed

[2020-12-20 04:40] #241 closed

[2020-12-20 04:42] harshilsharma63 opened #243 "Release v3.2.1"

[2020-12-20 07:21] #243 closed

[2020-12-20 11:00] harshilsharma63 commented on #238
@the02 this is fixed in v3.2.1 released today. Please upgrade to the latest version. Feel free to re-open this issue if you still face the issue.

[2020-12-20 11:00] #238 closed

[2020-12-20 12:35] the02 commented on #238
confirmed, thanks for the quick fix

[2020-12-31 01:29] #235 closed

[2021-01-01 01:41] #236 closed

[2021-01-01 03:18] harshilsharma63 opened #248 "API Response - return user-friendly error messages"

[2021-01-01 04:49] #248 closed

[2021-01-02 11:09] mthld opened #250 "BUG - Plugin doesn't start following v3.2.1 update"
**Summary**
After uploading the last v3.2.1 release to Mattermost, the plugin doesn't start.

**Screenshots**
<img width="600" alt="Screenshot 2021-01-02 at 12 09 00" src="https://user-images.githubusercontent.com/41020854/103456096-4eef4680-4cf3-11eb-9318-c6b60993a3eb.png">

**Environment**
-  Mattermost version: 5.30.6
-  OS: Debian 10 Buster
-  Platform: web browser
-  Browser (if applicable):

[2021-01-04 07:05] jprusch opened #251 "BUG - Standup Raven icon covers whole screen in Firefox 84"
**Steps To Reproduce**
1. Install Standup Raven 3.2.1 on MM 5.30.0
2. Enable Satndup Raven in a channel
2. Open MM with Firefox 84
3. Switch to channel with Standup Raven

**Expected behavior**
Standup Raven icon in top row is scaled like the other icons

**Observed Behavior**
Icon covers whole screen

**Screenshots**
<img width="1185" alt="raven321_firefox84" src="https://user-images.githubuserco

[2021-01-05 07:49] adarshhiwrale07 opened #252 "Installing Issue cannot find webapp/main.js file"
Mattermost logs:

**"caller":"mlog/log.go:229","msg":"Unable to activate plugin","plugin_id":"standup-raven","error":"unable to generate webapp bundle: standup-raven: unable to read webapp bundle: standup-raven: open client/plugins/standup-raven/main.js: no such file or directory","errorVerbose":"open client/plugins/standup-raven/main.js: no such file or directory\nunable to read webapp bundle: st

[2021-01-05 18:09] eyebank commented on #251
+1 we have also experienced this behavior.

Mattermost version: 5.29.0
Standup Raven 3.2.1
OS: Windows
Platform: browser
Browser (if applicable): Firefox
Platform Version: 84

resolution:
disable raven plugin. this works inconsistently

We have had to remove the standup raven plugin until fix distributed.

[2021-01-06 05:52] harshilsharma63 commented on #251
@jprusch @eyebank this will be fixed in today's release.

[2021-01-06 14:09] harshilsharma63 commented on #251
@jprusch @eyebank please upgrade to [v3.2.2](https://github.com/standup-raven/standup-raven/releases/tag/v3.2.2). It's now resolved.

[2021-01-06 14:17] jprusch commented on #251
Thanks, tested on Firefox. Fixed!

[2021-01-06 14:17] #251 closed

[2021-01-06 15:26] mthld commented on #250
Still happening with v3.2.2:
[code]

[2021-01-12 13:18] anwiev opened #254 "BUG - Unable to find the existing channel | This plugin failed to start. Check your system logs for errors"
**Summary**
I'm trying to update Standup-Raven to version 3.2.2 but I got the error "This plugin failed to start. Check your system logs for errors."  (with other versions higher than v2.5.2 the same problem)

**Screenshots**
![image](https://user-images.githubusercontent.com/50668058/104319274-5085ef00-54e9-11eb-98ba-04ff625c50a1.png)

**Log from the server:**

`{"level":"info","ts":1610454829.72

[2021-01-15 02:12] harshilsharma63 commented on #254
@anwiev which version of the plugin were you previously on?

[2021-01-19 07:44] anwiev commented on #254
@harshilsharma63, v2.5.2

[2021-01-27 14:26] eyebank opened #256 "BUG - Raven doesn't show #coffeman"
**Summary**
A few users raven doesnt show up consistently

**Steps To Reproduce**
Steps to reproduce the behavior:
1) user open mattermost on brower and app
2) No raven visible
3) I need to disable then enable the plugin for user to see raven
4) I have already removed the user then readded the user via /standup removemember to positive result

**Expected behavior**
Raven to appear when user logs i

[2021-02-03 01:15] harshilsharma63 commented on #256
@eyebank sorry for the delay in replying.

You're talking about the raven icon in the channel header, right?

Can you verify if the `SiteURL` is configured correctly for your Mattermost installation?

[2021-02-07 08:15] lanceharvie opened #257 "BUG -"
Great idea - plugin does not start on install.

[2021-02-07 08:24] lanceharvie commented on #257
[SOLVED]

{"level":"error","ts":1612685944.2720175,"caller":"mlog/log.go:174","msg":"Unable to activate plugin","plugin_id":"standup-raven","error":"plugin requires Mattermost 5.25.0: standup-raven"}

I'm running version 5.16.3

Will upgrade to 5.25.0

[2021-02-16 20:39] SAMeuse opened #258 "BUG: Raven error message if the channel is implicitly changed by clicking a Mattermost notification"
I'm a user, not an admin.  I've been working with our IT department, and there seems to be no solution available to them.

Here's how to reproduce the problem.  Our Standup Raven is only visible in a single Mattermost channel.  I'm running Windows 10.

1. Start entering my standup information.
2. Receive a notification that a Mattermost message has come in addressed to me, from a different channel

[2021-02-18 02:12] harshilsharma63 commented on #258
@SAMeuse thanks for reporting the bug.

This is correct and it happens because the channel ID is picked as the channel you're currently in, at the time of submission of standup.

I think if we pick the channel ID at the time of opening of standup modal instead, this issue will be resolved. Let me try that out and get back to you.

[2021-02-22 05:33] anwiev commented on #254
Hi @harshilsharma63,  I was just wondering if there'd been any developments?

[2021-02-22 15:31] harshilsharma63 commented on #254
Hi @anwiev I didn't get a change to look deep into this but this occurs when one of the channel you had standup configured for was deleted.

Can you try upgrading incrementally?

If that doesn't work, just mail me at hello@standupraven.com and we'll hop on a quick call. I'll be glad to get this resolved for you.

[2021-02-23 02:24] harshilsharma63 commented on #254
@anwiev I believe you deleted one of the channels in which standup was configured?

[2021-02-24 00:08] harshilsharma63 commented on #254
@anwiev This will be fixed now. We'll skip channels which are not found.

[2021-02-25 23:51] harshilsharma63 commented on #254
@anwiev This is now fixed in [v3.2.3](https://github.com/standup-raven/standup-raven/releases/tag/v3.2.3). Do check it out.

[2021-02-25 23:51] #254 closed

[2021-02-26 10:08] anwiev commented on #254
@harshilsharma63, thank you, will try! :upside_down_face:

[2021-02-28 09:35] mthld commented on #250
Seems fixed by v3.2.2 recently released.

[2021-02-28 09:35] #250 closed

[2021-03-11 11:35] RPCMoritz commented on #215
Chiming in to note: I have a similar issue, where Mattermost claims a 404 when querying the config, but a direct query works just fine.
There are also a lot of JS errors from other plugins - so this may be an instance-level issue caused by other plugins or overall performance headroom.
For now, I'm mostly writing to subscribe to the thread.

[2021-03-17 08:34] KlavsKlavsen opened #261 "PROPOSAL - Linkable issue/ticket references"
**Is your feature request related to a problem? Please describe.**
We are using autolink plugin (https://github.com/mattermost/mattermost-plugin-autolink ) in mattermost to replace #number - with a clickable #number - that links to the url to our support system.
It works really well - but unfortunately raven output is not being affected by it - so #2035 - stays just plain text :(

**Describe the s

[2021-03-17 08:37] KlavsKlavsen commented on #207
We work asynchronously, as we have guys all over the world.. so some start their day at 05 CET (as they work in IST timezone ;) - and some in the US - will start very late instead. They all generally do standup when they start their day - but thats distributed across the day.. Perhaps the standup period could be set to follow USER timezone ?

[2021-03-17 08:51] KlavsKlavsen commented on #207
or to support others usecase (not ours though) - to allow per-user standup schedule :)

[2021-03-19 09:16] serut opened #262 "BUG - Incorrect french sentence"
**Summary**
We use Standup Raven and every morning, there is the same french typo repeated (`Ajourd'hui` instead of `Aujourd'hui`) for each member daily standup. It would be like writing `Tday` instead of `Today`...

**Screenshots**
![image](https://user-images.githubusercontent.com/2767218/111757664-da608880-889b-11eb-9826-c34a387ecb33.png)

Where is stored such i18n translation ? I don't know wh

[2021-03-25 15:45] eyebank commented on #256
Hi,
Where should I look for this?

[2021-03-30 06:50] absynth47215 commented on #86
Did you make any progress in this? We're starting to use raven and the question arose if the plugin can be made to know
a) bank holidays (national/statewide)
b) users on vacation
For vacation, I think it's sufficient if you make a /raven command for users to enter their own vacation, or for a manager to enter a user's vacation. No need for calendar integration. Just do "/raven vacation <user> <YYY

[2021-03-30 06:57] absynth47215 opened #263 "PROPOSAL - Make bank holidays or company-wide off days configurable per channel"
**Is your feature request related to a problem? Please describe.**
There is no way to make raven respect bank holidays during the week (Christmas Day, Good Friday, whatever), or days with the whole team off (team outing, off-site workshop, company wide day off).
Every team member gets @mentioned once per holiday to fill in their standup, possibly interrupting their free time / family time. This is

[2021-03-30 06:58] absynth47215 commented on #86
I opened #263 for the "bank holiday" thing.
Maybe there can just be a command like /standup exception <team or user> <DAY START> <DAY END>" which can be used for any holidays, days off, vacation, company shutdown, whatever.

[2021-04-21 14:27] jwillmer opened #266 "BUG - unexpected EOF"
**Summary**
I upgraded my Postgres db to the latest version since the new Mattermost release  forced me to. Now Standup Raven is not working any more. I downloaded the latest release and updated it but it did not help. Below you can find the log output.

I don't bother about the old config. If there is a way to clean the db from everything related to Raven and install it again I'm happy to reconfi

[2021-05-25 12:15] ali-irawan opened #269 "BUG - When installing plugin, my config.json is replaced with another database"
**Summary**
I am trying to upload the binary plugin tar.gz from Releases to my mattermost, and suddenly my database info in config.json is *replaced*. I don't think it is a good practice to do that.

**Steps To Reproduce**
Steps to reproduce the behavior:
1. Upload plugin to mattermost, download from releases 3.2.2
2. Activate using bin/mattermost plugin add ~/mattermost-plugin-standup-raven-v3.2.

[2021-06-16 08:22] dzpan opened #271 "Failed to send notification/report. Error: GetUser: Unable to find the user."
User that had standup raven enabled was deleted from Mattermost. Now we are receiving error msg every couple of seconds.

error mlog/sugar.go:25 Couldn't fetch user GetUser: Unable to find the user., resource: User id:
dpanic zap@v1.16.0/sugar.go:191 Ignored key without a value. {"plugin_id": "standup-raven", "ignored": "Failed to send notification/report. Error: GetUser: Unable to find the user.,

[2021-06-23 14:10] benjaminclauss opened #273 "PROPOSAL - /standup report today"
I'm always frustrated when I need to look at my calendar to figure out the date to regenerate a standup report.

I would like to use `/standup report today` or `/standup report today public/private` to regenerate a standup report.
Perhaps even `yesterday` could be an option! 😄

[2021-08-12 12:37] chainslunatic opened #275 "BUG - High CPU usage"
**Summary**
Standup Raven has high CPU time

**Steps To Reproduce**
Steps to reproduce the behavior:
1. Use plugin

**Expected behavior**
Lower CPU usage + time

**Observed Behavior**
The plugin is having up to 20% CPU load while idling and therefore is the most active process on the whole server (more than Mattermost or GitLab). The server is up for two weeks now and the plugin has almost two ful

[2021-08-16 08:13] phpony commented on #275
Yep. Had to remove it. After 4 months of work it spikes at 100% cpu usage and eats out all memory so the server crashes. And we have only 10 people in our Matterost.

[2021-09-01 15:26] cpaulik commented on #167
For me it would already be much nicer if the questions could be answered in a multiline textbox instead of the 1 line. No need for parsing anything and breaking it up.

The reason is that I often include links to issues or merge requests which makes the answer lines much too short.

Should I open a new issue for this?

[2021-09-08 07:38] niksubramanian commented on #275
A little message to confirm that this is also happening on our end - thanks @chainslunatic for noticing this.

@harshilsharma63 - is there any direction you could give to help figure out what could cause this? Happy to help in any way I can.

[2021-09-08 10:06] phpony commented on #275
In my experience you can safely run `killall plugin.exe` and in a few seconds it'll safely respawn back, now without a huge CPU load. A temporarily workaround could be adding a cronjob to start once per night outside work hours:
[code]

[2021-09-09 11:47] niksubramanian commented on #275
I can confirm that @phpony's solution of running `killall plugin.exe` also solves the issue of CPU load on our end, but it causes the button to fill in your daily to disappear. To re-enable the button, an administrator needs to disable and re-enable the plugin in the admin console (unless you've found another workaround for this @phpony ?)

[2021-09-12 10:48] phpony commented on #275
Just Ctrl+R the page a few seconds after plugin respawn and it appears back. And if Mattermost tab was already open at time - it does not disappear. Just a caching things. Scheduling for night hours eliminates users negative feedback.

[2021-09-16 07:50] niksubramanian commented on #275
Ok - I confirm that the button does re-appear after roughly 20-30 seconds. Thanks for the tip @phpony - I'll implement it the way you propose for now on our instance.

[2021-09-23 17:09] happyalu opened #278 "BUG - Failed to send notification/report"
**Summary**

{"level":"error","ts":1632416724.4231367,"caller":"mlog/sugar.go:25","msg":"Failed to send notification/report. Error: Post.IsValid: Invalid message., id=64ya1hgqyjrkugn4azw8kkbztr Post.IsValid: Invalid message., id=64ya1hgqyjrkugn4azw8kkbztr","plugin_id":"standup-raven"}

**Steps To Reproduce**

After everyone (but not two people) submitted their standup, I didn't get a report at the

[2021-09-23 17:49] happyalu commented on #278
This was caused by the message hitting my post size limit (was 4000). Altering the schema to use the new 65535 varchar fixed this.

[2021-09-23 17:49] #278 closed

[2021-11-02 19:33] thatarchguy commented on #162
Any ideas on how to implement this?
Instead of a POST to a URL, I was thinking of being able to get the status report from the API to be scraped.

Something like hitting this URL would display the report in json or whatever:
[code]
I see this code, which could be used to generate it possibly:
https://github.com/standup-raven/standup-raven/blob/master/server/standup/notification/notification.go#L15

[2021-11-23 13:01] chainslunatic commented on #275
@harshilsharma63 please investigate this issue.

[2021-12-13 19:54] caugner opened #280 "BUG - Mattermost v6 compatibility"
**Summary**
We just upgraded our Mattermost instance from 5.39.2 to 6.1.0 and noticed that the standup-raven plugin is no longer functional:

**Steps To Reproduce**
Run any `/standup` command in a channel which was configured before.

**Expected behavior**
The command should execute without errors.

**Observed Behavior**
Mattermost shows an error message:
![grafik](https://user-images.githubuserco

[2021-12-13 20:09] caugner commented on #280
Workaround was to connect to the database (`sudo -u postgres psql mattermost`) and delete all config entries (`delete from pluginkeyvaluestore where pluginid = 'standup-raven'`).

[2021-12-13 20:09] #280 closed

[2021-12-20 07:23] iprok commented on #216
Hello! We have just faced the issue. Can you tell us the steps to repair database?

[2021-12-20 07:33] iprok opened #281 "BUG - Version 3.2.3 is pointing to 3.2.2"
**Summary**

Hello! Not plugin bug. On the [releases page](https://github.com/standup-raven/standup-raven/releases) assets under 3.2.3 version are pointing to files with 3.2.2 in their names.

[2021-12-30 17:16] iprok commented on #216
@grubbins can you help with this please?

[2022-01-03 15:43] jrhyde1 opened #282 "Add toggle to disable channel header schedule updating."
The channel header is currently edited every time a config change occurs. The schedule is added into the channel header, even if the schedule is the same as the old config. My use case involves adding and removing members every week. Every time this happens, we have to manually remove the schedule from the channel header. **The header contains important information** which should **NOT** be remove